[2012-08-23 00:18] aknapp opened #2 "Error when using 'BROKER_HEARTBEAT'"
I've been waiting for heartbeat support to make it into celery/kombu/amqplib, so I decided to take it for a spin with the newest amqp.

When I don't specify 'BROKER_HEARTBEAT', everything looks good, and celery is able to connect and process messages just fine.

When I specify any value for 'BROKER_HEARTBEAT', I get this error:

[code]

Any idea?

[2012-08-29 18:02] #2 closed, assigned to nobody

[2012-10-02 17:04] rbranson opened #3 "Block on Publisher Confirms"
It'd be nice to be able to put the channel in a mode where it will block (with a timeout) until a message is confirmed. TX makes the broker die in a fire at even modest message rates, but publisher confirms seems to work fine in benchmarks.

[2012-12-03 15:02] ghost opened #4 "Unknown AMQP method"
While fixing the breakage from upgrading to the latest version of celery, I encountered this error. Since method_sig is a tuple, on line 84 of abstract_channel.py,

[code]

will attempt to treat method_sig as the arguments for the string formatting operator, which leads to this exception:

[code]

The easy fix for me was to change line 84 to:

[code]

[2012-12-11 18:21] aknapp opened #6 "Too many heartbeats missed"
We are getting errors of 'Error in timer: ConnectionForced(None, 'Too many heartbeats missed', None, '')' every now and then while using the pyamqp transport. This has happened on both py-amqp 0.9.3 and 1.2.0.

I don't think there's anything wrong on the underlying rabbitmq servers, and I also don't think there's a network problem going on (no other services have any problems talking to them).

We

[2012-12-17 15:10] #4 closed, assigned to nobody

[2013-02-11 18:31] gilles opened #8 "pyampq fails to load message from deadletter queue"
Fails with

[2013-02-11 10:10:57,014: ERROR/MainProcess] Unrecoverable error: ValueError('Unknown table item type: 65',)

According to http://www.rabbitmq.com/amqp-0-9-1-errata.html

65 => 'A' is array

Here is the message returned by curl

[code]

[code]

[2013-02-12 14:13] #8 closed, assigned to nobody

[2013-02-20 04:24] mayfield opened #9 "_basic_ack_recv in channel.py attempts to use self.handlers instead of self.events"
I think _basic_ack_recv wants to use the callbacks in self.events and not the non-existant self.handlers attribute. This pseudo code makes things go hmmm when you send a message through it..

[code]

[2013-03-06 18:43] aknapp opened #10 "Which version should we be using?"
Currently, we have version 1.2.0 installed, but on pypi.python.org it says the latest version is 1.0.8. Should we go to 1.0.8?

[2013-03-08 10:35] #10 closed, assigned to nobody

[2013-03-08 11:15] #9 closed, assigned to nobody

[2013-03-20 09:45] jstavel opened #11 "SyntaxError for python 3.2.2"
[root@testzlin amqp-1.0.9]# /opt/python3/bin/python3 setup.py install
...
Finished processing dependencies for amqp==1.0.9

[root@testzlin amqp-1.0.9]# /opt/python3/bin/python3
Python 3.2.2 (default, Jan 25 2012, 13:16:54)
[GCC 3.4.6 20060404 (Red Hat 3.4.6-3)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

[2013-03-21 15:27] #11 closed, assigned to nobody

[2013-04-29 17:57] dundeemt opened #12 "make a reference to channel part of the message returned to the call back"
in amqplib, channel was an attribute of message.  The way py-amqp does it, you need to curry your callback function with partial to get the same effect.    No matter what, you need to be able to acknowledge or not, the message in the call back.  Requiring functools.parital seems like extra work for the user.

It definitely caught me off guard when I moved from py-amqplib to py-amqp.  In your demo

[2013-05-10 16:03] mkutsevol opened #13 "Concatenating 'bytes' with 'str' under python3 (Python 3.3.1)"
I'm running ubuntu linux 13.04.

In a little test app in python3 I have an error with such traceback:
https://gist.github.com/mkutsevol/5555372

patch: https://gist.github.com/mkutsevol/5555382

[2013-05-23 11:01] vladimirlagunov opened #14 "AMQP 0-10 support"
Currently py-amqp works only with AMQP 0-9 brokers such as RabbitMQ. Another popular broker Qpid implements AMQP 0-10 and just silently disconnects py-amqp due protocol version mismatch.

[2013-05-29 16:32] #14 closed, assigned to nobody

[2013-06-25 12:58] #13 closed, assigned to nobody

[2013-07-19 07:46] cenkalti opened #16 "Is py-amqp thread-safe?"

[2013-07-29 14:19] #16 closed, assigned to nobody

[2013-08-15 14:53] saschpe opened #18 "Versioning issues"
Hi there,

the current release on PyPI is 1.0.13 whereas ampg/**init**.py has VERSION = (1, 2, 0) which ends up on the tarball (via setup.py). This is mildly confusing and a bit of a mess. Could you please clarify which is supposed to be the _real_ version number?

To give some background, openSUSE ships python-amqp-1.2.0 since quite a while now since that has been the most current version in the

[2013-08-15 18:46] #18 closed, assigned to nobody

[2013-09-05 05:40] Cykooz opened #19 "Bad support for timeouts"
The documentation says:

Look at the code in the file "transport.py":

[code]

I use **kombu** + **RabbitMQ cluster behind AWS Elastic Load Balancer**. Sometimes my code freezes in the method _TCPTransport._write(...)_ somewhere about 900 seconds (probably in this to blame the ELB) and then it throw exception _socket.timeout_.
Explain to me why you disable the timeout for the socket?

PS: sorry fo

[2013-09-05 13:29] #19 closed, assigned to nobody

[2013-10-04 13:27] #3 closed, assigned to nobody

[2013-10-04 13:32] #12 closed, assigned to nobody

[2013-10-21 11:08] ArminGruner opened #22 "Unable to use "remote control" after broker loss if pyamqp:// is used"
I'm using ``celery.control´´ for remote control of other workers.

I'm using
celery 3.0.23
kombu 2.5.14
amqp 1.0.13
[librabbitmq 1.0.1]

Now, when I shutdown RabbitMQ, remote control obviously doesn't work anymore:

Unfortunately, when I restart the RMQ broker now, the celery remote instance doesn't recover anymore:

This does NOT happen if I don't use the pure-python AMQP transport but with an in

[2013-10-22 17:45] eandersson opened #23 "Confirm delivery returns none?"
Hey,

I tried out the library and I can't get `basic_publish_confirm` to return anything but None.

I looked at the source code and it at least indicates that it should be returning something.

For example `basic_publish_confirm` has `ret = self._basic_publish(*args, **kwargs)`, but `_basic_publish` does not actually return anything.

[2013-10-24 15:34] #23 closed, assigned to nobody

[2013-10-24 15:47] #22 closed, assigned to nobody

[2013-10-29 15:46] eandersson opened #25 "implementing async rpc client"
Hey,

I am trying to change from using pika to py-amqp on my async rpc client for apache

The problem I am running into is that wait() is blocking. Which means that I cannot run it on a separate thread with a lock.

Receiving RPC requests using it's own thread.

[code]

Sending RPC requests.

[code]

Since wait() keeps the lock until it receives a response, it keeps locking, so that I can never se

[2013-10-29 16:00] #25 closed, assigned to nobody

[2013-12-16 12:24] aguinet opened #27 "SSL issue with Celery 3.1.6"
Hello !

It seems that between rc4 and 3.16, something changed in py-amqp or kombu that prevents SSL connection to an AMQP server to work.

Here is a stack-trace :

<pre>
[2013-12-16 11:53:26,308: WARNING/MainProcess] celery@XXX ready.
[2013-12-16 11:53:30,311: WARNING/MainProcess] consumer: Connection to broker lost. Trying to re-establish the connection...
Traceback (most recent call last):
  Fi

[2014-01-13 13:52] #27 closed, assigned to nobody

[2014-01-13 14:22] #6 closed, assigned to nobody

[2014-01-20 23:10] jbg opened #31 "heartbeat timeouts since recent changes"
Since the recent (ca. Jan 10 or so) heartbeat changes, the following occurs often (maybe 75% of the time) when attempting to publish using Kombu and py-amqp:

[code]

RabbitMQ logs this:

[code]

This publish is occurring from within a celery task body, if that makes any difference.

[2014-01-23 17:01] #31 closed, assigned to nobody

[2014-01-30 15:46] theflow opened #32 "read/write timeouts?"
(not sure if this belongs to kombu or here)

I'm trying to understand how kombu/amqplib is supposed to behave when the TCP connection goes away silently and why there is no mechanism to define read/write timeouts (similar to the ones in libmemcached, for example http://docs.libmemcached.org/memcached_behavior.html#MEMCACHED_BEHAVIOR_SND_TIMEOUT).

To simulate this I'm running celery with RabbitMQ,

[2014-03-04 14:29] speedplane opened #36 "AttributeError in __dell__"
I am seeing `AttributeError` exceptions being raised in my logs and I believe the culprit is `amqp/transport._AbstractTransport.__del__`.

As stated in this SO post (http://stackoverflow.com/questions/18058730/python-attributeerror-on-del), the `__del__` function may have been called after modules have started to be unloaded and set to `None`.  In the `__del__` function for `_AbstractTransport`, y

[2014-03-05 13:04] #36 closed, assigned to nobody

[2014-04-10 23:09] w3iBStime opened #37 "Frames cease to be read while processing amqp_method."
While long-running message handlers (amqp_method) run, inbound frames need to continue to be processed in the background so that heartbeat frames (frame_type == 8) can continue to increment the bytes_recd attribute of the MethodReader and update the condition checks in connection.heartbeat_tick.

http://stackoverflow.com/questions/14817181/django-celery-connectionerror-too-many-heartbeats-missed

[2014-04-23 12:03] slamora opened #41 "Changelog release-date typo version 1.1.0"
While I'was looking at Changelog I've found a typo on the release-date of version 1.1.0, shows `:release-date: 2012-11-08 10:36 P.M UTC` but I guess that should be in year 2013 (after `1.0.13` release).

https://github.com/celery/py-amqp/blob/master/Changelog#L235

[2014-05-30 14:24] #41 closed, assigned to nobody

[2014-07-05 14:39] malinoff opened #45 "Cannot close connection [callbacks]"
[code]

Therefore, in logs:
[code]

[2014-07-13 23:47] jbg opened #46 "Cannot write frames or deserialize on Py3.4"
On Py3.4, it is necessary to apply the following patch in order to write frames or deserialize data:

[code]

In method_framing.py, `''.join()` cannot be applied on a list of bytes, and in serialization.py, `buf[offset]` is an `int` but is compared to `str` a few lines below.

Note this patch will probably break Py2 so should not be applied verbatim, it's just to demonstrate the issue.

[2014-07-18 06:59] jbg opened #47 "Incorrect method signature for Channel.Close"
The AMQP spec specifies `short, shortstr, short, short` as the `Channel.Close` method signature, so the below patch should be applied.

This error may have been masked previously because `shortstr` was allowed to contain any binary data. I’m working on cleaning up the bytes/utf-8 behaviour and caught this as part of that.

[code]

After applying this patch, another error surfaced: `_on_close` in `

[2014-08-09 07:13] AndreLobato opened #49 "Reverse topic exchange support"
Hello, I would like to use a [rabbitmq plugin for reverse topic exchange](https://github.com/videlalvaro/rabbitmq-rtopic-exchange) (x-rtopic) in order to define a set of machines I could run send a message to. So could be defined on the message routing_key a '_._' or 'a.#' pattern and each node had it's own routing key.

I've tested the plugin with kombu and pika using simple exemples found in the

[2014-08-11 16:53] #47 closed, assigned to nobody

[2014-08-25 21:04] frewsxcv opened #50 "1.4.6 pushed to PyPi, not documented in changelog"

[2014-08-29 10:34] zmullett opened #51 "MemoryError establishing a connection to Azure Service Bus"
Not sure if amqp and Azure Service Bus should cooperate, but I receive a MemoryError (originating from transport._AbstractTransport.read_frame). The payload size unpacked from he frame header seems incorrect.

I attempt to establish the connection like so:

connection = amqp.connection.Connection(
	host='MYSERVICENAMESPACE.servicebus.windows.net',
	userid='owner',
	password='MYPASSWORD')

[2014-09-19 06:14] fladi opened #53 "No PGP signature on 1.4.6 PyPi upload"
Nitpicking, I know, but could you add a PGP signature for the source-tarball on PyPi for the 1.4.6 upload? The build-process for the Debian package relies on it being there.

[2014-09-25 00:15] #49 closed, assigned to nobody

[2014-09-30 17:27] #50 closed, assigned to nobody

[2014-12-21 01:04] jbg opened #60 "AMQP heartbeats fail"
With heartbeats enabled, the application crashes after a short time with the below stacktrace. I am not sure yet if this issue is with py-amqp, kombu or celery but am recording it here in the meantime.

[code]

RabbitMQ logs:
[code]

The issue only occurs when heartbeats are enabled.

[2015-04-02 13:56] fladi commented on #53
Any news on this? Otherwise I would have to disable the signature checking on the Debian package again before I can upload 1.4.6 to the Debian archive.

[2015-04-17 11:43] #51 closed

[2015-05-12 13:29] underyx opened #66 "UnexpectedFrame exceptions when reading from queue"
We are seeing a bunch of these exceptions popping up when reading from a kombu `SimpleQueue`, under Python 3.4, with amqp 1.4.6 and kombu 3.0.26:

[code]

I'd say between 0.01% and 0.5% of messages are affected. The error message varies, a few seconds earlier we had `Received 0x5e` instead. I see that 1.4.6 doesn't list Python 3.4 in its classifiers. Is it possibly incompatible? Are there any alte

[2015-05-12 13:56] underyx commented on #66
Another exception which is almost certainly related:

[code]

[2015-05-13 09:43] underyx commented on #46
Is it possible that #66 is caused by this issue?

[2015-05-20 14:45] johtso opened #67 "Bad timezone behaviour when encoding datetimes in headers"
https://github.com/celery/py-amqp/blob/a8f334a0ab2ba25fd7b139c42116d6d5ea0543cd/amqp/serialization.py#L377

The `# ## FIXME timezone ?` says it all.

Currently datetimes are assumed to be in system local time as that is how `mktime` behaves.

This is rather confusing behaviour when you're passing around UTC times and find that all your times are offset.

[2015-06-15 20:47] #67 closed

[2015-06-28 22:38] amirrustam commented on #51
@ask since Kombu now has a Qpid transport and Qpid supports AMQP 1.0, then would Celery work with Azure Service Bus by using `qpid://` transport?

Do you see any obvious or easily foreseeable issue with this?

I'm going to run a test today to investigate and report back here, but I would appreciate your insights on this matter.

[2015-06-29 06:13] FlaPer87 commented on #51
@amirrustam I'd recommend having an amqp1.0 specific transport rather than having a single transport for qpidd and all amqp1.0 capable services. It'd be possible to use `qpid-proton` to write a transport for kombu.

I might take a look at this sometime later. Want to file an issue requesting this?

[2015-06-29 07:12] amirrustam commented on #51
@FlaPer87 Thanks for the follow up. The way I understand, the [Kombu Qpid transport](http://kombu.readthedocs.org/en/latest/reference/kombu.transport.qpid.html) uses the [Qupid Messaging API ](http://qpid.apache.org/components/messaging-api/index.html) (`qpid-python`) which uses AMQP 1.0 and 0-10. I believe this fulfills your recommendation??

What are the benefits of `proton` over the `messaging`

[2015-07-12 05:26] thedrow commented on #51
AMQP 1.0 is wierd and pretty bad designed as far as I understand.
RabbitMQ uses 0.9.1 which is what's used with Celery the most.
If you feel like adding support for AMQP 1.0 we'd love to have that but we have a lot of other stuff on our plate for now so we can't commit to it at the moment.
Feel free to open a new issue about AMQP 1.0 support.

[2015-09-09 19:00] ask commented on #46
Fixed in master!

[2015-09-09 19:00] #46 closed

[2015-09-09 19:07] ask commented on #60
Looks like this isn't a problem anymore, I tested it and at least the worker reconnects when this happens.

[2015-09-09 19:07] #60 closed

[2015-10-02 21:46] ask commented on #66
Are you sure multiple threads are not using the same connection?

[2015-10-21 00:40] djsmith42 opened #277 "If a malformed message gets into Rabbit, Celery worker fails to start"
If a publisher manages to publish a corrupted, non-UTF8 decodable message into Rabbit, the Celery worker will fail to start. I propose that it should instead leave the message unacknowledged, log the error, and continue working on other messages.

Here's an example stack trace when this happens:

[code]

Versions:

Celery: 3.1.16
Kombu: 3.0.23

Using `pyamqp://`

[2015-10-23 23:00] ask commented on #66
Could you clean this up into multiple commits please? And why do we want to make the channel thread-safe?

[2015-10-23 23:09] underyx commented on #66
@ask wrong issue?

[2015-10-27 18:41] ask commented on #66
hmm, yeah, I guess, I wrote this comment on a pull request I'm pretty sure :/

[2015-10-27 19:33] davidharrigan opened #72 "Error packing illegal values into struct"
__NOTE: I am using development versions of celery, kombu, py-amqp__

I'm following the steps on the documentation to setup SSL for my celery worker (I have a working connection with RabbitMQ broker following these steps using SSL connection: http://www.rabbitmq.com/troubleshooting-ssl.html#logs). I have very minimal configuration, and I am running into this error when I try to fire up my worker:

[2015-12-18 14:07] Korijn commented on #51
@amirrustam did you ever get this working?

[2015-12-28 03:01] amirrustam commented on #51
@Korijn I ended using RabbitMQ, which does not use AMQP 1.0, on my own servers instead of using Azure Service Bus (requires AMQP 1.0). Though I will pursue this as soon as I get some time, since I would love to have the ability to use a third-party AMQP 1.0 message queues. I'll follow up here for the sake of public documentation.

[2015-12-28 08:44] Korijn commented on #51
I've since decided to switch to Redis since it's available as a managed service on Azure as well..

[2015-12-31 04:24] nszceta opened #76 "struct.error: argument for 's' must be a bytes object"
"amqp/method_framing.py", line 161, in frame_writer
    3, channel, framelen, body, 0xce)
struct.error: argument for 's' must be a bytes object

[2016-01-04 23:52] #76 closed

[2016-01-08 21:37] #72 closed

[2016-04-22 20:45] gwachob opened #82 "Setup.py PyPi licensing metadata and LICENSE file are not aligned"
Hi folks-
   I'm tasked with going through the licensing on  dependencies on a project, and I've noticed that the licensing trove classifiers indicate both BSD and LGPL, but the LICENSE file only contains LGPL. Can this be clarified (either by removing the line from the setup.py or modifying/extending the LICENSE file)?

[2016-05-23 15:58] nazavode opened #83 "Exception while handling frame args in PY3"
When running a code using py-amqp/master on Python >= 3, a `TypeError` exception is raised from `method_framing.py` while trying to handle frame args during the connection teardown. Issue is systematic. For example, when running the kombu [hello publisher example](http://docs.celeryproject.org/projects/kombu/en/latest/userguide/examples.html) using Python 3.4 and the latest RabbitMQ, I end up like

[2016-05-26 20:20] #83 closed

[2016-05-26 20:35] ask commented on #82
Ooops, I think the license needs to stay LGPL unless we can get permission from Barry Pederson.

This is originally a fork of his amqplib project which is LGPL, though the code is almost entirely rewritten at this point.

[2016-05-27 03:15] MrKiven opened #85 "ImportError: cannot import name spec"
Hi, we have got this error

``ImportError: cannot import name spec``

we use `librabbitmq==1.6.1`, `kombu==3.0.33`

Traceback here:

``
File "/srv/ves/arch.note/.venv/lib/python2.7/site-packages/kombu/__init__.py", line 67, in __getattr__

module = __import__(object_origins[name], None, None, [name])

File "/srv/ves/arch.note/.venv/lib/python2.7/site-packages/kombu/connection.py", line 19, in <mod

[2016-05-27 03:33] felixonmars opened #86 "Missing git tag for 2.0.0 release"
It would be nice to keep PyPI releases and git tags in sync :)

[2016-05-27 04:00] air-upc commented on #85
Before Python version 2.7.7, the struct.pack() function required a native string as its format argument.

[2016-05-27 05:45] MrKiven commented on #85
anyone can check it? @ask

[2016-05-27 12:08] bastbnl commented on #85
I'm seeing the same message using python 2.7.3 using amqp==2.0.0 since I've upgraded amqp-1.4.9 this morning.

...
from amqp import ChannelError, ConnectionError, ResourceError
  File "/var/www/brownpapersession/dev/env-brownpapersession/local/lib/python2.7/site-packages/amqp/__init__.py", line 39, in <module>
    from .basic_message import Message      # noqa
  File "/var/www/brownpapersession/de

[2016-05-27 18:01] ask commented on #86
Thanks, fixed!

[2016-05-27 18:01] #86 closed

[2016-05-27 18:58] ask commented on #85
Hey!

Kombu 3.x should not be used with amqp 2.0, and the kombu requirements have reflected this since the release of 3.0.0:
https://github.com/celery/kombu/blob/3.0/requirements/default.txt

If you use kombu 3.x, you should keep to the 1.4 series of py-amqp!

[2016-05-27 19:03] ask commented on #85
That said, I don't know if kombu 3.x is actually incompatible, and I don't understand why this error is happening.

The earliest 2.7 version I have available is 2.7.8 and importing `amqp.spec` works there.  Same for 2.7.10.

Could you try to do a `pip install vine` to see if that helps?

[2016-05-27 19:10] bastbnl commented on #85
I believe it has to do with the imports within the amqp module.

I've done some changes to get the code imported on python 2.7.3 and created pr #88. My virtualenv has vine 1.1.0, kombu 3.0.35 with celery 3.1.23 (and a lot more). I needed one more change to get celery 3.1.23 running with amqp 2.0.0 as well, but I'll create a separate pr for that

[2016-05-29 18:52] kbespalov opened #90 "[py-amqp 2.0] Race condition on drain_events & channel pending list"
I'm trying to implement a channel multiplexing over connection with one listening thread which just call the `drain_events` in while loop. Other threads creates it's own channels and use them.

But some channel actions in the threads (e.g channel opening or publishing confirmation) are stucks on the `channel.wait()` method, because `drain_events()` steals a response from the broker and does not di

[2016-05-30 02:41] MrKiven commented on #85
Actually we rely librabbitmq==1.6.1,

but librabbitmq rely amqp>=1.4.6

https://github.com/celery/librabbitmq/blob/v1.6.1/requirements/default.txt

[2016-05-31 20:15] ask commented on #90
The Connection is not designed to be thread-safe at all,  I'd expect there to be more issues even if you fix this one.

It should be thread-safe for greenlets etc, I wonder if this could affect green threads.

[2016-06-01 08:47] glongwave opened #91 "openstack oslo.messaging load failed due to amqp can't find module 'vine' in Python3.4"
Traceback (most recent call last):
  File "/home/jenkins/workspace/gate-smaug-python34/smaug/tests/base.py", line 92, in setUp
    self.messaging_conf = messaging_conffixture.ConfFixture(CONF)
  File "/home/jenkins/workspace/gate-smaug-python34/.tox/py34/lib/python3.4/site-packages/oslo_messaging/conffixture.py", line 50, in __init__
    'oslo_messaging_rabbit')
  File "/home/jenkins/workspace/gat

[2016-06-02 01:56] liu-sheng commented on #91
yes, I have also found this issue yesterday.

the reason of this issue I think it is wrong usage of "install_requires" parameter in setup.py#setup() method. the "install_requires" has been put a list of requirements from the requirements folder, the reqs() method in setup.py use a filter() method, but the "filter" method in python3 return a filter object(iterator) than a list(in pyhon2.7), it only

[2016-06-02 02:49] glongwave commented on #91
Thanks liu-sheng, that should be the root cause.

[2016-06-03 10:41] pquentin opened #94 "Is 2.0 the stable version?"
The [docs](http://py-amqp.readthedocs.io/en/latest/index.html) say "This document is for py-amqp's development version, which can be significantly different from previous releases. Get the stable docs here: 1.4."

This can now be removed?

[2016-06-04 14:57] MrKiven commented on #94
I think not...

[2016-06-06 14:52] edmorley opened #97 "Docs version 'latest' missing changelog entries for 2.x"
Visiting https://amqp.readthedocs.io/ redirects to the `latest` version tag of the docs.

However these don't mention v2.x on the changelog, instead only <= 1.4.9:
https://amqp.readthedocs.io/en/latest/changelog.html
(I've even tried forcing a RTD rebuild using https://readthedocs.org/projects/amqp/builds/)

Strangely the `stable` version does have those changelog entries:
https://amqp.readthedocs

[2016-06-07 00:59] #91 closed

[2016-06-07 05:39] pquentin commented on #97
There's also a confusion between http://py-amqp.readthedocs.io/en/latest/ and https://amqp.readthedocs.io/en/latest/.

[2016-06-07 05:40] pquentin commented on #94
Closed since it got fixed in https://github.com/celery/py-amqp/commit/1ecc81d47cb8a9b07e5b37f382f1145c5232359d

[2016-06-07 05:40] #94 closed

[2016-06-11 00:47] ask commented on #97
@edmorley RTD latest is now changed to use the 2.0 branch,
and the README was rendered from source to fix the wrong version.

@pquentin I cannot find references to http://py-amqp.readthedocs.io anywhere?

[2016-06-11 00:47] #97 closed

[2016-06-11 06:03] pquentin commented on #97
@ask The situation is quite confusing between all the RabbitMQ/AMQP libraries. The first thing I saw about py-amqp is that it's a "amqplib fork" but I have no idea what amqplib is. (I found it now but the first thing I saw about "amqplib" is a Node.js library.) Maybe it's time to position the library differently: saying what it does well, not what it does differently.

The other issue is that it's

[2016-06-11 06:21] ask commented on #97
@pquentin The purpose of this project is to be generic, but it's created out of the needs of Kombu.    Kombu with py-amqp has very little overhead compared to kombu with "virtual transports", and it implements many patterns that's required for most applications of AMQP, like connection pools, failover, etc.

[2016-06-11 06:27] ask commented on #97
The comment on the name is a good point, and we could probably rename the repository.  The reason I named it py-amqp in the first place is I was thinking we may have clients written in languages other than Python some day.

[2016-06-13 04:12] fake-name commented on #45
I'm seeing this too. Does anyone have a workaround?

[2016-06-15 02:46] fake-name commented on #45
Ok, I'm seeing this a LOT, and it only started occurring after I upgraded from 1.4.8 to 2.0.2.

[2016-06-15 03:18] fake-name opened #98 "No timeout set on socket!"
I'm trying to diagnose some really annoying issues with a connection getting wedged and stopping responding, and from what I can tell, the internal AMQP ssl socket is put into blocking mode with no timeout, and left that way.

This is (I think) leading to a context where if the remote end goes away while in a blocking read (I think), my code blocks forever and can never recover.

Looking in `trans

[2016-06-17 02:34] fake-name commented on #98
Ok, adding a bunch more logging, it looks like either a bug in python itself, or some wierd socket corner case. I'm actually getting segfaults in python somewhere:

[code]

This is in a process that only uses the `amqp` library (I pushed it out of the main process in hopes of isolating it a bit better). Everything will be running normally, and the amqp thread will just go away, with no output or e

[2016-06-27 21:09] longspear opened #99 "Broken Bitdeli image in README.md"
Probably due to the fact Bitdeli doesn't exist anymore or it's just offline at the moment

[2016-06-28 03:23] #99 closed

[2016-06-28 05:28] #85 closed

[2016-06-29 06:24] fake-name commented on #45
Hello?

[2016-06-29 06:29] fake-name commented on #98
I upgraded to python 3.5, and the issue seems to have at least gone away.

Huh.

[2016-06-29 06:29] #98 closed

[2016-07-06 20:59] bbgwilbur opened #100 "Can't specify default ssl arguments when creating a Connection"
[code]
Passing an empty dictionary causes this line to pick a TCPTransport for you: https://github.com/celery/py-amqp/blob/master/amqp/transport.py#L395

[code]
Passing `True` causes this exception to be raised since this line never executes: https://github.com/celery/py-amqp/blob/master/amqp/transport.py#L279

It seems like the user is forced to specify _some_ arguments to ssl, leaving no way to

[2016-07-12 02:05] jakeczyz commented on #45
I'm also seeing these after upgrading form amqp 1.4.7 to 2.0.2. I'm running erlang-18.3-1 and rabbitmq-server-3.6.2-1.  This is a major issue for my system.  Any help would be appreciated here.  Barring quick help, I'd also like to know if this module is being maintained or if I need to switch to another (Though neither pika nor haigha seem to have recent commits; this is troubling. )...

[2016-07-12 02:44] #45 closed

[2016-07-12 02:52] fake-name commented on #45
@jakeczyz - I switched to rabbitpy with relatively little effort.

[2016-07-12 02:54] ask commented on #45
Sorry crowd! These emails are lost in a sea of mail and you were commenting on an issue that I thought were to only happen in the celery/py-amqp@callbacks branch, and sadly the Github Issue interface does not move most recently discussed issues to the top.

Celery itself is ignoring exceptions when the connection is closed, so was not seen by our integration tests.  Celery itself does not depend o

[2016-07-12 03:01] #100 closed

[2016-07-12 03:20] ask commented on #45
amqp 2.0.3 is now available at PyPI and fixes the issue.

[2016-07-12 04:39] fake-name commented on #45
@ask - The issue I was having (in a completely different bug report) is that rabbitmq-c doesn't work. At all. On a modern python (e.g. py3k).

Anyways, here, I switched to rabbitpy: https://github.com/gmr/rabbitpy, which seems a lot more approachable at at least marginally maintained.

[2016-07-12 04:47] fake-name commented on #45
Anyways, basically implemented a bunch of stuff on top of celery initially, had horrible annoying issues everywhere, dumped celery entirely and doing so got rid of ~95% of the problems. It was (I think) about two years ago, but basically after a few weeks hacking on it, I was unable to get it to be reliable, and it made lots of assumptions about my task structure that weren't correct for my partic

[2016-07-12 04:48] fake-name commented on #45
Also:

Wat?

[2016-07-12 05:09] ask commented on #45
Yes... In the worker, the only reason for the connection to be closed is if

   1) Remote end closes connection (no need to send Connection.Close)
   2) The worker is exiting
       AMQP Connection.Close is synchronous, so you have to wait for the CloseOk frame
       but this can lead to deadlock and other intermittent problems.  We send the frame,
       but do not wait for a reply.

The client

[2016-07-12 05:11] ask commented on #45
The Celery integration test suite is in the celery/cyanide library: https://github.com/celery/cyanide/blob/master/cyanide/suites/default.py

[2016-07-12 05:13] fake-name commented on #45
Which basically explains why `py-amqp` was a continuous source of issues in my project, because, for my application, I have no interest in using celery (for reasons explained above).

Basically, if `py-amqp` is so closely bound to celery as to be incapable of acting as a general purpose AMQP library, I'd almost think it should be just another folder in the Celery project, not a discrete project wi

[2016-07-12 05:17] ask commented on #45
I can give you another one.  If my project does not meet your criteria, and you complain but don't either contribute code back or pay us: You can fuck off and die

[2016-07-12 05:28] fake-name commented on #45
Uh, Wut?

My comments were basically:
 - Maybe note in the readme that py-amqp is rather closely bound to Celery.
 - It'd be nice to call it `celery-amqp` or something, if possible?

It diverged into the fact that not all task structures map to celery's expectations (so telling people to just use celery isn't helpful), but any other opinions I have are so out of date that they're probably entirely

[2016-07-12 05:53] ask commented on #45
It's bound to Celery's needs at the moment, but what point would it be to associate it in name/warning when the goal is to make a generally useful amqp client?  This would effectively end any traction it could've had and ending up in even more clients.

This is a client forked from the amqplib library, but it's almost entirely rewritten now.  Pika at the time did not have a stable API, I'm unsure

[2016-07-12 06:16] ask commented on #45
And note that the bug was caused by a single character: `BssBB` -> `BsBB`

The unit test suite with 95% coverage for this module, including the offending line, did pass the tests as it had the same flaw.

Many open source projects, afaik, don't even have an integration test suite where this type of defect is detected.

This is probably one of the extremely limited cases where Celery use does not c

[2016-07-12 07:52] pquentin commented on #45
Thank you @ask for staying mostly calm here, and thanks for the work you're doing on py-amqp! We really appreciate it. I had no idea that kombu was an alternative, we simply stumbled on py-amqp when looking for an AMQP library written in Python. We're very happy with py-amqp though, and implemented a thin wrapper that evolved to expose an API that's more limited than Kombu but now works well for u

[2016-07-12 15:32] jakeczyz commented on #45
Thanks for fixing the bug, @ask, and your contribution of these libraries.   We also haven't used amqp long enough or in a manner that requires all of the great stuff that Celery (or even Kombu) offer, but it's good to know about these efforts for when the need arises.   Cheers.

[2016-07-12 20:10] jakeczyz opened #101 "Getting OSError: Socket closed against new RabbitMQ server 3.6.2 (on 2.0.3)"
About 60 seconds after starting a channel.basic_consume followed by a channel.wait(), the connection closes with a Socket Closed error, as here:

Traceback (most recent call last):
  File "./rmqtools.py", line 437, in run_self_test_loop
    qh.channel[handle].wait(None)
  File "/usr/local/lib/python3.4/site-packages/amqp/abstract_channel.py", line 91, in wait
    self.connection.drain_events(timeo

[2016-07-12 22:08] ask commented on #101
I'll be looking into this, but it's now better to use `connection.drain_events(timeout)` instead of channel wait.  This allows you to consume events from multiple channels at a time, something that was missing from the original amqplib.

[2016-07-12 22:14] ask commented on #101
Btw, I'm not seeing this here, even with `channel.wait(None)`.  It would be very helpful if you could write a short snippet that reproduces the issue!  I guess you should try using connection.drain_events first though, as I don't think there is much use in having a separate `channel.wait()`.

[2016-07-13 03:21] jakeczyz commented on #101
Thanks.  Sure, here's a snippet of how to reproduce the error.

https://gist.github.com/jakeczyz/78ba1d5021b688a544b7cc8a22fefb65

It happens with both method calls. Note that it's not happening with an older RabbitMQ server. One other minor note is that the new server is actually a cluster.  But, regular gets and publishing (and other cluster behavior) is fine.

Any advice or pointers would be hi

[2016-07-14 00:58] jakeczyz commented on #101
After more investigation, I believe this problem was due to client TCP timeout in the load balancer used for my RabbitMQ cluster.   I'll post more details after I can confirm my fix, but wanted to let you know right away so as not to waste your time.

[2016-07-15 02:09] jakeczyz commented on #101
Okay, I have more information on this in case it helps someone in the future. This is knowledge gained (and likely bugs discovered) after about 15 man-hours of beating my head against this. The problem seems to be (partly) caused by Amazon EC2 ELB idle timeout.   This is the timeout on the load balancer that will drop any connection (including resetting TCP ones) after too long without any traffic

[2016-08-03 17:50] hairmare opened #102 "please tag v2.0.4"
I just spent hours pulling my teeth on CentOS 7.2 before figuring out that I need https://github.com/celery/py-amqp/commit/9167f6569e5f48fcb37e6eda8caf9ce81de2dc93.

Could you tag a new release to make it easier for me to package a new rpm.

Thanks

[2016-08-04 17:29] hairmare commented on #102
Nevermind, I also need something like #96  :(

[2016-08-04 17:29] #102 closed

[2016-08-10 13:03] chripede opened #103 "generator already executing"
My celery jobs started throwing this error after upgrading from amqp 1.4.9 to 2.0.4

[code]

[2016-08-15 16:20] cwill747 commented on #82
+1 on this - weird to me that everything I've seen in the celery project is not licensed LGPL but this is - would be nice to align to one license

[2016-08-15 16:23] cwill747 commented on #82
@barryp thoughts on BSD 3-clause-ing this code?

[2016-08-15 16:28] barryp commented on #82
I don't have strong feelings about LGPL vs BSD, so if switching your fork helps you guys out I say go for it.

[2016-08-15 18:36] #82 closed

[2016-08-18 23:25] ask commented on #82
@barryp Thank you so much for amqplib and other contributions, there wouldn't be a Celery without you!  I'm very happy we can unify the license :tada:

[2016-08-22 13:41] barryp commented on #82
@ask You're very welcome!  I'm thrilled that it's being used in such a cool project.

[2016-09-07 19:00] JoelBender opened #105 "API Update"
I have RPC client/server applications [here](https://github.com/JoelBender/amqp-rpc) that work with the 1.4.9 version of the library but I'm struggling to get them working with the current release.  Apart from calling `channel.connect()`, there is now a required parameter to `channel.wait()` and I don't understand what `method` to pass.  The `basic_cancel()` call doesn't "break" the `wait()`.  Hel

[2016-09-07 23:37] #103 closed

[2016-09-08 00:54] ask commented on #105
Don't use `channel.wait()`, you should be using `connection.drain_events()` instead.

The channel.wait() was inherited from amqplib where you couldn't wait for events from multiple channels at a time.  I cannot see any reason why you'd want to block waiting for events on a single channel only.   You should use the timeout parameters to connection.drain_events also, catch the socket.timeout error a

[2016-09-08 04:26] JoelBender commented on #105
Thank you.  I haven't updated it to use the timeout parameters yet, just trapping connection failures, but the basics are fine and I'll keep working on it.

[2016-09-08 04:26] #105 closed

[2016-09-08 13:33] edmorley opened #106 "Support the 'Auth Failure' RabbitMQ protocol extension"
Whilst the AMQP 0-9-1 spec requires brokers to terminate a connection upon authentication failure, rabbitmq-server has a protocol extension that allows clients who advertise the `authentication_failure_close` capability to instead have the broker send a `connection.close` command to the client with `ACCESS_REFUSED` as the reason.

It would be great to add support for this capability to py-amqp, si

[2016-09-13 19:02] edmorley commented on #106
Support for this was added in 4d52fce.

I don't suppose you could add a mention to the README, under the "Supports RabbitMQ extensions" section? :-)

[2016-09-13 19:45] #106 closed

[2016-09-13 19:45] ask commented on #106
Thanks for reminding me!

[2016-09-13 19:54] edmorley commented on #106
Thank you!

[2016-09-14 07:48] pquentin commented on #106
This breaks existing code which relied on IOError to detect auth errors. Would it make sense to make AccessRefused inherit from IOError?

[2016-09-14 21:19] bsergean opened #107 "Cannot import amqp with Python-2.7.5 (TypeError: Struct() argument 1 must be string, not unicode)"
This is the default CentOS 7 version of Python

[code]

It works fine on latest OSX

[code]

[2016-09-14 21:27] bsergean commented on #107
This was supposed to be fixed by this

https://github.com/celery/py-amqp/commit/9167f6569e5f48fcb37e6eda8caf9ce81de2dc93

[2016-09-14 21:32] bsergean commented on #107
Removing the 'unicode_literals' import, and changing that unicode back to str makes it work with Python 2.7.5.

[code]

[2016-09-29 12:05] grillazz opened #109 "struct.error: pack_into requires a buffer of at least 130101 bytes"
Hi,

Have below error msg when testing celery==4.0.0rc4 with XML files

[code]

[2016-10-06 13:39] galuszkak commented on #109
This I believe was fixed with https://github.com/celery/celery/issues/3484 and in commit 7343e0aa9c8766f398abdb96977f7dcc03ed1dea . Should be closed.

[2016-10-07 19:59] scheler opened #111 "connection.connected returns None instead of True in 2.1.0"
connection.connected returns None instead of True in release 2.1.0.  Can this be fixed?

[code]

[2016-10-14 01:50] ask commented on #111
Are you using kombu 3 or kombu 4rc?

Kombu 3 explicitly requires amqp < 2, maybe you have a broken pip version?

You shouldn't depend on Connection.connected for anything, it was actually a mistake to add it there
as I thought it would be possible to verify the connection, but it turns out that is impossible.

[2016-10-14 01:51] ask commented on #109
Yup!   new amqp bugfix will be on pypi in a few minutes.

[2016-10-14 01:51] #109 closed

[2016-10-14 01:56] ask commented on #107
Everything is using bytes now, so this should be fixed

[2016-10-14 01:56] #107 closed

[2016-10-14 02:01] bsergean commented on #107
Oh cool; is that change available in a new version of celery ?

[2016-10-14 04:57] ask commented on #107
@bsergean The current stable version of Celery mandates that amqp < 2.0 should be used, so if you are affected there must be some problem with pip, or similar.  Or maybe you have added a dependency on `amqp` manually?

For Celery 4rc, there's a amqp 2.1.1 no PyPI just this minute!

[2016-10-14 23:02] bsergean commented on #107
I was trying to use the unstable 4.x version of celery. I've upgraded to that one + amp 2.1.1 and it's running smoothly now. Thanks for the fix.

[2016-11-15 12:09] johnmilimo opened #113 "Unrecoverable error: TypeError("'NoneType' object is not callable",)"
I am using Celery 4 and it doesn't work fine for me. I tried using librabbitmq AMQP client but the workers couldn't consume items from the queues. I then switched to pyamqp and the workers started consuming the items. The problem I have is that when I stop the workers and push items to queue, then start the workers, I get an error.

![x1](https://cloud.githubusercontent.com/assets/2853404/20305169

[2016-11-24 00:31] ask commented on #113
librabbitmq doesn't work with Celery 4, and it's been falling behind on features for some time so pyamqp is a better choice.

Are you sending tasks using librabbitmq or pyamqp?

[2016-12-07 23:47] cactus commented on #107
This issue appears to be back in amqp==2.1.2 w/python-2.7.5.
Reverting to amqp==2.1.1 seems to fix it.

[2016-12-08 02:42] ask commented on #107
@cactus Thanks, a patch was submitted that changed it back to using unicode again by mistake, so now I have released amqp 2.1.3 which fixes the problem, again... :tada:

[2016-12-09 12:34] btx opened #118 "Failing with non-numeric character in system platform version"
I'm trying to deploy on Google Container Engine and getting an error:

[code]

My platform version contains non-numeric char ('+' in my case):
[code]

[code]

Celery and kombu version is 4.0.1, amqp 2.1.3.

Thank you

[2016-12-10 02:40] miracle2k commented on #118
Same thing here.

[2016-12-12 21:14] geuben opened #119 "LINUX_VERSION doesn't cope with Raspbian"
[code]

`uname -a` on jessie gives `Linux raspberrypi 4.4.34+ #930 Wed Nov 23 15:12:30 GMT 2016 armv6l GNU/Linux`

The above code doesn't like the '+'

[2016-12-14 14:51] phretor commented on #113
@ask I'm getting the exact same problem here. Same settings, same behavior.

[2016-12-14 21:33] stevelittlefish commented on #113
I'm having the same issue.  If I start my web app without the celery workers running, and then create a couple of tasks, then start the celery worker, I see the exact same thing.  If I repeatedly restart the celery worker, I get this message a couple of times (more or less once per task), and then eventually it starts and processes all of my tasks.

Is there a fix for this?

[2016-12-14 22:40] #119 closed

[2016-12-14 23:11] ask commented on #118
Fixed in master, new release coming in a few moments.

[2016-12-14 23:12] #118 closed

[2016-12-14 23:13] ask commented on #113
The same issue about _quick_put being empty has been reported to the Celery issue tracker, but I have yet to be able to reproduce it.

It would really help if someone had an minimal example project, able to reproduce the problem.

[2016-12-21 03:16] taoqf opened #122 "heartbeats due to Error"
If I use Hearbeats, I see this Error when timeout.
[code]
I use amqp like this:
[code]

[2016-12-21 03:25] taoqf commented on #31
I get this Error, too(Error 104)[https://github.com/celery/py-amqp/issues/122). but I do not use Celery, just py-amqp

[2016-12-21 04:53] taoqf commented on #122
@ask

[2016-12-21 09:40] #122 closed

[2016-12-21 09:43] taoqf opened #123 "Is there a user guide"
Where can i find a user guide?

[2016-12-22 06:29] taoqf commented on #123
Need I send heartbeat myself?

[2016-12-22 08:35] dhebvvs opened #124 "AMQP 2.1.4 fails on FreeBSD 9.2 with OperationError: [Errno 42] Protocol not available"
Versions of packages involved:
- Python 2.7.9
- celery 4.0.2
- kombu 4.0.2
- amqp 2.1.4

As a temporary fix we have downgraded to amqp 2.1.3, which seems to still work.

See: https://github.com/celery/py-amqp/blob/v2.1.3/amqp/transport.py#L194

We use the `pyamqp://`-protoco in Celeryl, the RabbitMQ server is running version 3.6.6.

Stacktrace:

[code]

[2016-12-23 16:55] chehsunliu commented on #113
https://github.com/chehsunliu/mycelerysample
Here is my simple sample project. I got the same error. The details are written in `README.md`.

[2016-12-24 03:19] chehsunliu commented on #113
This issue is related to celery/celery#3620 and celery/celery#3539.

[2016-12-26 09:03] bendemboski opened #125 "Cannot import amqp with Python-2.7.6 (TypeError: Struct() argument 1 must be string, not unicode)"
ab395a0a19a52afaec3047e43a7b52b9b31d8313 re-fixed #107 but missed by one version. As you can see [here](http://python-future.org/stdlib_incompatibilities.html#struct-pack) or in the [2.7.7 changelog](https://hg.python.org/cpython/raw-file/f89216059edf/Misc/NEWS), the fix for issue 19099, which is what switched to requiring strings, wasn't introduced until 2.7.7.

So ab395a0a19a52afaec3047e43a7b52b

[2017-01-04 01:09] drewkilz opened #130 "TCP_MAXSEG cannot be set using SOL_TCP"
I was testing utilizing this package on a Windows 7 Enterprise N, 64-bit machine and ran into the error listed below. The problem seems to be with attempting to set the TCP_MAXSEG socket option utilizing SOL_TCP. However, if you simply change this to using socket.SOL_SOCKET it can be set without a problem. This if my first foray into sockets, so I am not sure that is the "correct" solution.

Trace

[2017-01-05 09:09] abhijeetbhanjadeo commented on #130
Ran into this issue while using **[nameko](https://github.com/nameko/nameko)** which has dependencies for **[kombu](https://github.com/celery/kombu)** which in-turn has dependencies for **[amqp](https://github.com/celery/py-amqp)**.

**Errors seen:**
_[WinError 10042] An unknown, invalid, or unsupported option or level was specified in a getsockopt or setsockopt call_
**For:**
`File "C:\Program Fi

[2017-01-06 14:38] TomTheBear opened #131 "Typo in Message class documentation"
There is a typo in the docstring of the Message class, an additional n in Channel:
https://github.com/celery/py-amqp/blob/master/amqp/basic_message.py#L35

[2017-01-09 10:34] njordr commented on #113
Hello.

I'm having the same issue, resolved installing py-amqp (as suggested by @ask )

[2017-01-09 16:25] jdotjdot commented on #113
We use pyamqp and are still having this issue.

[2017-01-26 14:50] edmorley opened #132 "The read the docs "latest" tag is pointing at an old release"
"latest" is pointing at 2.0.2:
http://amqp.readthedocs.io/en/latest/changelog.html

Whereas "stable" is correctly at 2.1.4:
http://amqp.readthedocs.io/en/stable/changelog.html

[2017-01-27 06:02] #131 closed

[2017-01-30 22:17] JonSchuff commented on #125
We ran into this issue as well for one of our services - created #134 based on @bendemboski's fix

[2017-02-03 11:25] cyberMe opened #135 "AMQP 2.1.4 fails on Windows with [Errno 10042] An unknown, invalid, or unsupported option or level was specified in a getsockopt or setsockopt call"
Tested on Windows7 x64 and Windows8 x32 with Python 2.7.13, 2.7.8, 3.6.0. RabbitMq 3.6.5.

Stack trace:
[code]

Sample code:
[code]

[2017-02-27 13:05] GermanoGuerrini commented on #113
This should have been solved by a merge in https://github.com/celery/celery/pull/3752.
So far, no official release.

[2017-03-12 23:06] radiantone commented on #113
Any workaround? I'm stuck

[2017-03-21 12:13] nicolastobo commented on #113
stuck too. Any news ?

[2017-03-28 09:31] taoqf opened #137 "FRAME_ERROR"
I create 5 channels and put them to a Queue, waiting for being used, multiple threads call `c`
[code]
then I got `FRAME_ERROR`.
How can I use multiple channel in multithread?

[2017-03-28 09:33] taoqf commented on #137
And the connection will disconnect in ab test.

[2017-03-30 07:48] #137 closed

[2017-03-30 07:48] #123 closed

[2017-03-30 07:50] auvipy commented on #123
https://groups.google.com/forum/#!forum/celery-users please ask here or IRC: #celery channel

[2017-04-09 11:29] 1ronmat commented on #107
Hello @ask !

Thanks to have solved my issue.
There is the same problem on amqp==2.1.4, just to say.
I reverted amqp to  amqp==1.2.3 and it works fine.
Thanks dude.

[2017-04-11 06:47] navyad commented on #113
facing same issue with Celery 4.0 and amqp==2.1.4

[2017-04-11 06:57] navyad commented on #113
i have resolved the issue with installing librabbitmq==1.6.1

https://github.com/celery/kombu/issues/189

[2017-04-11 08:13] navyad commented on #113
workaround i found is run celery worker with Q option specifying queues.

[2017-04-13 12:18] #125 closed

[2017-05-14 20:12] eugene-s commented on #124
Same error in Bash on Windows.
Windows 10 Build 1703.

Versions of packages involved:

- Python 3.6.1
- kombu 4.0.2
- amqp 2.1.2 and more

I had to downgrade to version 2.1.1. It works for me.

`  File "/root/.virtualenvs/project/lib/python3.6/site-packages/kombu/connection.py", line 419, in _reraise_as_library_errors
    sys.exc_info()[2])
  File "/root/.virtualenvs/project/lib/python3.6/site-pac

[2017-05-14 20:18] eugene-s opened #145 "AMQP 2.1.2<= fails on Bash On Windows with OperationError: [Errno 92] Protocol not available"
Has error in Bash on Windows.
Windows 10 Build 1703.

Versions of packages involved:

- Python 3.6.1
- kombu 4.0.2
- amqp 2.1.2 and more
- rabbitmq server 3.6.8

I had to downgrade to version 2.1.1. It works for me.

[code]

[2017-05-18 20:17] chungg commented on #145
probably need a new release with: https://github.com/celery/py-amqp/pull/136

[2017-05-21 06:55] #53 closed

[2017-05-21 07:03] auvipy commented on #32
https://github.com/celery/py-amqp/pull/42

[2017-05-21 07:03] #32 closed

[2017-05-24 11:14] Hoohaha opened #148 "ImportError: cannot import name spec"
Hi sir,

[code]

I want to use celery in my django project. The project is served by apache-server.
When the server is started. There are an error display:

[code]
amqp/connection.py", line 29:
[code]
What's the problem?

[2017-05-31 20:18] tebriel opened #151 "basic_publish_confirm hangs forever on empty message publish"
## Scenario ##

You have an empty message you'd like to publish for whatever reason. (We post a serialized protobuf on a queue, and if that protobuf is nothing but the default proto values, it ends up being `b''`.

You also use publisher confirms.

## What happens ##

Calling `basic_publish_confirm` with a message that has a body of `b''` does send some headers over the wire, but rabbitmq never th

[2017-05-31 20:20] tebriel commented on #151
Relates to #3

[2017-06-01 05:50] auvipy commented on #151
thanks for the report

[2017-06-06 13:09] EugeniuZ opened #152 "Distinguish between EINTR and EAGAIN"
Looking at this code: https://github.com/celery/py-amqp/blob/master/amqp/transport.py#L364-L366 I understand that socket.timeout() would be raised in 2 cases:
* drain_events() method is called with some timeout value and no message was received by the consumer in that timeframe
* process got SIGINT and the recv call was interrupted

Wouldn't it be better if client code can distinguish between the

[2017-06-06 13:52] auvipy commented on #152
what better approach are you suggesting?

[2017-06-06 16:22] EugeniuZ commented on #152
How about raising socket.timeout() for EAGAIN and re-raise socket.error for EINTR ?

[2017-06-07 06:08] auvipy commented on #152
lets discuss a more detail of it here https://groups.google.com/forum/#!forum/celery-users

[2017-07-12 16:56] #132 closed

[2017-07-12 20:11] wooyek opened #155 "Unrecoverable error: TypeError("Can't convert 'bytes' object to str implicitly",)"
There seems to be a problem with worker startup on python 3.6.

[code]

[code]

[2017-07-12 21:12] lcd1232 commented on #155
@wooyek add this at line 347
[code]

[2017-07-13 11:36] wooyek commented on #155
Thx, I freezed amqp==2.1.4 and it's ok.

I already install Celery from `master` to overcome celery/celery#3620. I don't wan't to create another fork.

[2017-07-13 12:36] Arun-KumarH commented on #155
Even I am getting the same error (during creation of MessageQueue on startup) inside the docker container and we do not have control to point to the AMQP 2.1.4 version here.
Could you please let us know when the fix would be available ?

[code]

[2017-07-13 15:38] erinaceous commented on #155
@Arun-KumarH I encountered this issue today, for now you can monkey-patch the _on_start function somewhere in your own code, before anything initializes an amqp connection:

    import amqp
    amqp.connection.Connection._old_on_start = amqp.connection.Connection._on_start
    def monkey_patched_on_start(
            self, version_major, version_minor, server_properties,
            mechanisms, lo

[2017-07-13 16:12] auvipy commented on #155
can you investigate using git blame?

[2017-07-13 16:17] jacumol commented on #155
Hello @Arun-KumarH, I've got the same problem when I run it on Docker. What I did was in the requirements.txt, where I have celery==4.0.2, I put before amqp==2.1.4 and that was all.

[2017-07-13 16:24] naoko opened #156 "2.2.0 issue in connection.py where it split mechanisms"
This issue only occurs in version `2.2.0` and `2.1.4` is good.

The issue occurred in amqp/connection.py
line# 344
`self.mechanisms = mechanisms.split(b' ')`

where `mechanisms` is str but trying to split with byte string/
updating to `mechanisms.encode('utf-8').split(b' ')` temporarily fixed the connection problem.

[2017-07-13 17:46] crohling commented on #156
Witnessed in python version 3.5

[2017-07-13 18:42] crohling commented on #156
Actually, it seems this ticket duplicates: https://github.com/celery/py-amqp/issues/155

[2017-07-13 20:10] nbrgil commented on #155
I've got the same problem with airflow using celery:

`[rgil@gfn-tix-2glv862 airflow]$ docker logs -f polos-flower
sed: cannot rename /airflow/seda5h0TL: Device or resource busy
Thu Jul 13 15:19:37 BRT 2017 - waiting for RabbitMQ... 1/10
Thu Jul 13 15:19:42 BRT 2017 - waiting for RabbitMQ... 2/10
HTTP/1.1 200 OK
[2017-07-13 15:19:48,159] {__init__.py:57} INFO - Using executor CeleryExecutor
[I 170

[2017-07-14 05:11] #156 closed

[2017-07-14 05:46] #155 closed

[2017-07-14 05:56] pr3d4t0r opened #158 "TypeError _on_start() in amqp.connection.py:347 - py-amqp 2.2.0"
# Symptom
TypeError _on_start() in amqp.connection.py:347 - py-amqp 2.2.0.

# Issue description
Using Kombu 4.0.2 SimpleQueue with py-amqp.2.2.0 results in:
[code]

# Steps to recreate

[code]

# Workaround

Use py-amqp 2.1.4 instead until this bug is fixed.

[2017-07-14 05:59] thedrow commented on #155
@wooyek @lcd1232 @Arun-KumarH @erinaceous I released 2.2.1. Please verify it works for you guys.

[2017-07-14 06:55] pr3d4t0r commented on #158
Issue fixed with py-amqp 2.2.1 -- thanks guys!

[2017-07-14 06:55] #158 closed

[2017-07-14 18:26] lcd1232 commented on #155
@thedrow yes, all works. Thanks.

[2017-07-15 09:19] thedrow commented on #155
I'll continue with the release over the weekend. Thanks.

[2017-07-21 15:48] jeffersonheard opened #160 ""expected a bytes-like object, str found" in self.mechanisms"
I get a [https://gist.github.com/jeffersonheard/2823d6c332f6db2750715c98fbba92db](stacktrace) when starting celery "flower" and only that, and the problem is:

[code]

I was able to correct the problem by changing line 347 to:

[code]

but I'm not sure this was the "root cause", and i don't know enough about amqplib to know whether my change is a valid one or just *happens* to fix the problem whil

[2017-07-21 19:40] georgepsarakis commented on #160
Have you tried with the current version? This seems fixed in this [commit](https://github.com/celery/py-amqp/commit/3782875cc5a671ed83acc2ebb0b9b7184549d123).

[2017-07-21 19:41] georgepsarakis commented on #160
`v2.2.1` should contain the fix.

[2017-07-21 19:44] georgepsarakis commented on #148
I am not sure that this is a problem with Celery. Could you share some information on the`wsgi.py` file perhaps?

[2017-07-21 19:47] thedrow commented on #160
It does.

[2017-07-21 19:47] #160 closed

[2017-07-21 19:48] thedrow commented on #148
It could be a PYTHONPATH issue but without more information we can't debug this.

[2017-07-22 09:33] so2bin commented on #155
@thedrow thanks ,.....

[2017-08-04 14:38] FatalEnigma opened #161 "Licensing clarification"
Hi,

Thank you for developing such an awesome project. I am looking to use celery with a project I am currently developing but have a query about this particular dependency.

I notice that last year the library was switched from LGPL to BSD but I noticed LGPL headers among some of the source files, are these no longer applicable? If so, why have they not been removed?

Thanks

[2017-08-08 21:04] montanalow opened #162 "Is there a plan to fix this hack?"
https://github.com/celery/py-amqp/blob/b21f8d41b840fdbb88dfbe102926973a33106c5a/amqp/channel.py#L1581

This hack causes consumers that are registered without a consumer_tag and nowait=True, to be unable to receive responses via reply_to -> routing_key:

[code]

[2017-08-17 08:02] thedrow commented on #161
It is likely that @ask just missed those headers.
A pull request fixing this issue is welcome :)

[2017-08-18 04:46] #151 closed

[2017-08-22 12:36] FatalEnigma commented on #161
Here you are :)
https://github.com/celery/py-amqp/pull/163

[2017-08-30 20:30] tylerjharden opened #165 "UTF-8 surrogates not handled properly in Python 3"
When processing AMQP messages that contain validly escaped surrogate UTF-8 bytes, exceptions will be thrown anywhere the AMQP library here tries to encode to UTF-8. This does not happen in Python 2 as the default signature for `str.encode` is to do a surrogatepass. Python 3 defaults to throwing errors when encountering escapes. I will open a patch.

[2017-09-08 04:48] #165 closed

[2017-09-08 04:52] thedrow commented on #161
This is now fixed :) Thanks!

[2017-09-08 04:52] #161 closed

[2017-09-08 04:54] thedrow opened #166 "Test py-amqp with PyPy"
Celery supports PyPy and so should this library.

[2017-09-11 11:51] darkdreamingdan commented on #145
Downgrading to 2.1.1 seems to work here too.  Has #136 been integrated already? I was previously on 2.2.1 and that was causing the issue - so if #136 was merged for that there's still an issue.

[2017-09-12 15:24] ross-urban commented on #145
I've got the same behavior, downgrading to 2.1.1 works for me as well.

[2017-09-13 14:45] darkdreamingdan commented on #145
So this seems to be the offending commit:

https://github.com/celery/py-amqp/commit/9ad4da4791004e0d9e329e64f33df46526334855

[2017-09-15 07:37] eugene-s commented on #145
The issue related to unsupporting reuse socket port...

So, Bash On Windows and Windows don't support reuse port.

I started RabbitMQ. It bound 5672 port, after that I tried to start my python app and it didn't can be started, because in versions more than 2.1.1 using socket options reuse port.

[2017-09-28 15:04] frol commented on #135
This seems to be resolved in #136.

[2017-10-20 07:34] gujun4990 opened #171 "TypeError: 'NoneType' object is not callable"
I am using amqp 2.1.4 verison and it doesn't work fine for me. The error appear on my openstack environment,
when amqp verison is 2.1.4, kombu verison is 3.0.32 and oslo_messaging version is 4.5.0.

The step is below:
1. I connect RabbitMQ server is Ok using amqp 2.1.4
2. Then, RabbitMQ server is down and amqp can't connect RabbitMQ server. The connection error wil be raised to kombu.
3. kombu wil

[2017-10-23 15:19] #145 closed

[2017-10-24 16:02] imoore76 commented on #107
Confirmed this is back in 2.1.4. Can we get this fixed again, please?

[2017-10-28 09:40] thedrow commented on #171
This is already fixed in later versions of kombu/amqp. Please upgrade.

[2017-10-28 09:40] #171 closed

[2017-10-28 09:58] thedrow opened #172 "Write unit tests for the having_timeout context manager"
While the context manager is covered by other tests (unclear how though since it should be isolated from other units) it's better to write dedicated unit tests for it.
I have started the effort here https://github.com/celery/py-amqp/commit/8500a14c67202fda7dd9763767c255d6574bb14f

[2017-10-28 09:59] thedrow commented on #148
I'm going to close this issue since no more information was provided.

[2017-10-28 09:59] #148 closed

[2017-10-28 10:00] thedrow commented on #130
Can any of you confirm this is still a problem with master?

[2017-11-02 07:24] thedrow commented on #107
and what about 2.2?

[2017-11-10 06:52] smkher commented on #113
@navyad Running celery worker using Q option, still the same issue. Had to purge the queues and rerun the worker, then it works. Any got a fix yet? Stuck

[2017-12-01 08:55] brownerg commented on #113
+1

[2017-12-22 07:19] auvipy commented on #113
should have been fixed

[2017-12-22 07:19] #113 closed

[2018-01-02 06:06] thedrow commented on #166
This is fixed.

[2018-01-02 06:06] #166 closed

[2018-01-12 10:42] Kaushal28 opened #178 "Example of Sending/Receiving message"
I couldn't find the examples of using this library.  Understanding from documentation is quite hard.

[2018-01-15 03:28] auvipy opened #179 "Release version 2.3"

[2018-01-15 08:12] auvipy commented on #135
thanks frol

[2018-01-15 08:12] #135 closed

[2018-01-15 15:57] MShekow opened #180 "Windows 7 x64 issue with TCP_KEEPCNT"
Hi,

After having issues with celery 4.1 (worker couldn't connect to host, WinError 10042), I was able to nail down the issue:
In transport.py,
[code]
is populated just fine. But then in `_get_tcp_socket_defaults()` the call `sock.getsockopt(SOL_TCP, opt) for opt in TCP_OPTS` fails (with `opt == getattr(socket, 'TCP_KEEPCNT'`)

Best regards!

[2018-01-19 07:25] auvipy opened #181 "malformed message gets into Rabbit, Celery worker fails to start"
https://github.com/djsmith42/py-amqp/commit/3bc856f3276265ebf265327a7f31bbc3c3caf75d

[2018-01-19 07:27] auvipy commented on #181
https://github.com/celery/celery/issues/2873

[2018-01-30 00:35] darkdreamingdan commented on #180
Have you tried on amqp master? This might be resolved.

[2018-02-08 15:22] eric-eric-eric opened #183 "UnboundLocalError: local variable 'e' referenced before assignment"
[code]
this is due to line 150 in the previous iteration not assigning exception to variable `e` properly
[code]
change to
[code]
will fix it.

simple example for this issue
[code]
will raise `NameError: name 'e' is not defined`

[2018-02-08 15:32] auvipy commented on #183
send a pr with testcase please

[2018-02-09 17:26] #183 closed

[2018-02-20 15:24] odedfos commented on #101
I encounter the same problem when celery (3.1.25) broker has heartbeats enabled and worker is idle (empty queue). The RabbitMQ eventually closes the connection because connection is idle and heartbeats aren't sent.
Is there any plan to fix this in celery/kombu/py-amqp?

[2018-03-08 11:34] cenkalti opened #186 "How should I handle"

[2018-03-08 11:40] cenkalti commented on #186
`drain_events` function normally raises `socket.timeout()` when there is no event in `timeout` period. But sometimes I see the previous traceback in logs. AFAIK Python socket module raises `socket.timeout()` too when there is no data to be received. I can reproduce that with a simple script.

However, I can't reproduce the case that `drain_events` throwing `TimeoutError`.

Does this exception need

[2018-03-08 22:33] cenkalti commented on #186
After some investigation I found out that `TimeoutError` is specifically a subclass of OSError representing the case where `errno` is `ETIMEDOUT`: https://bugs.python.org/issue21376#msg217402

In Linux, `ETIMEDOUT` is set by operating system if TCP keep-alive mechanism detects that the connection is dead: http://man7.org/linux/man-pages/man7/tcp.7.html

I have found that there are some default opt

[2018-03-09 14:26] sorab2142 commented on #130
@thedrow Can confirm this still happens and downgrading to 2.1.3 solved the issue for me.

[2018-03-20 07:55] trianglesis commented on #31
Having the same on 4.2.0

[2018-04-16 13:43] auvipy commented on #179
I will prepare release notes for this and release it first, then kombu, vine... etc

[2018-04-20 08:56] hs1211 opened #188 "Test package name is something strange."
Not 't' But 'test' or 'tests'?? please, change it.

[2018-04-28 21:12] jenstroeger commented on #186
@cenkalti, I see the same issue when using a Celery [`ResultGroup`](http://docs.celeryproject.org/en/latest/reference/celery.result.html#celery.result.GroupResult) with several tasks, and then attempting to [`revoke()`](http://docs.celeryproject.org/en/latest/reference/celery.result.html#celery.result.ResultSet.revoke) the group.

Did changing the TCP timeout solve this?

[2018-04-30 10:48] cenkalti commented on #186
@jenstroeger No, changing the `TCP_USER_TIMEOUT` didn't solve the problem, we keep seeing `TimeoutError` exceptions.

[2018-04-30 10:50] jenstroeger commented on #186
@cenkalti, hmmm… ok 🤔I guess I’ll switch to plan B then and revoke all tasks of the group individually, while digging for the root cause of the timeout on our side. Thanks!

[2018-05-27 21:06] hsiaoyi0504 opened #191 "Is there any backward-incompatible changes between 2.2.2 and 2.3 ?"
Originally, one of my project installed py-amqp 2.2.2, because celery is its requirements.
However, it seems to me that the Travis CI of my application fails today due the version update (2.2.2 -> 2.3.0). https://travis-ci.org/NAL-i5K/genomics-workspace/builds/384417734

Is there any backward-incompatible changes between 2.2.2 and 2.3.0 ? I had taken a look the change log (https://amqp.readthedocs

[2018-05-28 03:49] juannyG commented on #191
Are you running this with python2.7?

[2018-05-28 04:01] rnd0101 commented on #191
Confirmed. One example where is failed:
[code]

[2018-05-28 04:56] hsiaoyi0504 commented on #191
@juannyG Yes, my project is written in Python 2.7.

[2018-05-28 06:44] quantoid commented on #191
Same fault for me; pip upgraded 2.2.2 to 2.3.0 and now `celery.control.inspect().stats()` raises a `UnicodeDecodeError`. Locking amqp to 2.2.2 for now.

[2018-05-28 07:16] thedrow commented on #191
We're aware of the problem and working on a fix.

[2018-05-28 09:57] Fokko commented on #191
We're experiencing the same issue at Apache Airflow

[2018-05-28 15:11] hsiaoyi0504 commented on #191
The issue is fixed in https://github.com/celery/py-amqp/releases/tag/v2.3.1.

[2018-05-28 18:04] hsiaoyi0504 commented on #191
I think I need to re-open this issue.
Although linux instance works, my build fails for MacOS.
https://travis-ci.org/NAL-i5K/genomics-workspace/builds/384782933

The build freeze at certain point.

[2018-05-28 18:10] hsiaoyi0504 commented on #191
Or should I update the celery version ?

[2018-05-29 05:29] thedrow commented on #191
You should be using 4.1.1 or 4.2.0rc4.

[2018-05-29 05:43] hsiaoyi0504 commented on #191
@thedrow Actually, I am using 4.1.1, but builds on macs doesn’t work. It just freezes. I haven’t found the reason, but it seems to me it’s due to the update of Amal.

[2018-05-29 08:52] anapaulagomes commented on #191
I'm having the same issue with MacOS. Celery 4.1.1 and OS HighSierra 10.13.4.

[2018-05-29 10:40] thedrow commented on #191
I released amqp 2.3.1. I hope it helps.

[2018-05-29 12:52] hsiaoyi0504 commented on #191
@thedrow Sorry ... I have already updated to amqp 2.3.1, but it only fixed linux build, but mac builds fail . That's why I re-opened this issue.

[2018-05-29 13:09] anapaulagomes opened #193 "OSError: [Errno 42] Protocol not available"
I got this error after updating `ampq` on MacOS (HighSierra 10.13.4).

I already tried re-installing celery 4.1 and 4.2 (rc), kombu 4.2.0, 4.1.0 amqp 2.3.1,  2.2.2 and 2.1.1.
I'm using Python 3.6.4. Rabbitmq: stable 3.7.5.

[code]

Any help? 😕

[2018-05-29 13:20] slallum commented on #193
I had the exact same issue. added a PR to fix it: #194

[2018-05-29 13:39] anapaulagomes commented on #193
Nice! I've added a small comment there. I've tested here and it works for me. Thank you!

[2018-05-30 07:46] #193 closed

[2018-05-30 11:21] thedrow commented on #191
Yes. I just merged a fix for amqp on MacOS.
I'll try to find the time to release it today.

[2018-05-30 13:34] thedrow commented on #191
Released.

[2018-05-30 13:34] #191 closed

[2018-05-30 13:41] #179 closed

[2018-06-01 06:57] tothegump opened #196 "Regression: OSError: [Errno 42] Protocol not available"
# Platform
* macOS High Sierra
* Version 10.13.4
* MacBook Pro (Retina, 13-inch, Early 2015)
* Python 3.5.2

add a celery report:
[code]
# Reproduce
Run this code snippet:
[code]

from commit `73391a7` to `3973415` (current master HEAD) raise errors:
[code]
when I checkout to commits from `3faa759` to `6a6127c` (the commit before `73391a7`) and run that code, rase error:
[code]

when I checkout to

[2018-06-01 12:05] clokep commented on #196
This was fixed in 2.3.2, I believe. See #194

[2018-06-01 14:50] tothegump commented on #196
@clokep
Yes, it is.
My fault. I did not get the newest commit.
Thanks.

[2018-06-01 14:50] #196 closed

[2018-06-15 07:25] juhamkilpinen opened #197 "Built-in TypeError exception from Connection on_inbound_method()"
There are several reports from the other projects getting this exception when using Connection class:

[code]
See for example:
https://bugs.launchpad.net/oslo.messaging/+bug/1504725
https://github.com/celery/kombu/issues/857
https://github.com/celery/kombu/issues/463

Does this mean that Connection class is misused or should there be similar check in on_inbound_method() as there is in channel() fo

[2018-06-17 15:53] thedrow commented on #197
I'm not sure how this happens.
I'll need to see a test case that doesn't involve kombu somehow.

[2018-07-17 22:03] raratiru opened #200 "Openbsd 6.3 error: Protocol not available"
* Openbsd-6.3
* Python-3.6
* Celery-4.2.0
* amqp-2.3.2

When starting Celery, I receive the error:

`[2018-07-18 00:53:50,510: ERROR/MainProcess] consumer: Cannot connect to amqp://...: [Errno 42] Protocol not available.`

**amqp-2.2.2** is the most recent version that works.

[2018-08-01 21:52] jjlogu opened #201 "Does this library support AMQP 0-10?"
is it possible to talk to qpid-cpp-broker using this library?

[2018-08-01 22:09] jjlogu commented on #201
Problem details available at  https://stackoverflow.com/questions/51642901/does-py-amqp-support-amqp-0-10

[2018-08-06 14:07] neostimul commented on #200
The same situation with FreeBSD 11.2-RELEASE

[2018-08-09 18:35] juhamkilpinen commented on #197
Sorry I cannot provide a simplified test case to point the issue. I think it is somehow related to caching the connections with multiple process / threads involved, I.e. some kind of misuse of the API. I am happy for now that my workaround seems to work with the OpenStack env.

[2018-08-16 17:28] auvipy commented on #200
plz send a pr to fix the regression

[2018-09-04 10:19] zxh13 opened #205 "struct.error"
File "/data/zxh/feidao-python-3.0_2/test1.py", line 250, in
sessionid = session_id
File "/data/zxh/feidao-python-3.0_2/test1.py", line 226, in atom
return get_dask_result(dsk, get_on, dbaccSave, render, dsk_cache=dsk_cache)
File "/home/data/zxh/feidao-python-3.0_2/trans/dsk_link.py", line 194, in get_dask_result
r = dbaccSave(result[0])
File "/home/data/zxh/feidao-python-3.0_2/client.py", line 131

[2018-09-12 20:50] #205 closed

[2018-09-15 17:37] auvipy commented on #66
closing for lack of activity

[2018-09-15 17:37] #66 closed

[2018-09-15 17:37] #90 closed

[2018-09-19 15:25] galuszkak opened #206 "Doesn't work with Python 3.7"
This is stack trace in Python 3.7 when using amqp with SSL RabbitMQ.
@thedrow @auvipy @ask

Sounds it's kinda critical to move to python 3.7
[code]

[2018-09-19 16:13] auvipy commented on #206
thanks for the report, are you trying to use the master? or the latest pypi release which is not yet compatible?

[2018-09-19 17:20] galuszkak commented on #206
@auvipy both doesn't work.

[2018-09-20 05:38] auvipy commented on #206
I will try it locally now and possibly fix too

[2018-09-20 06:42] auvipy commented on #206
btw are you using eventlet? https://github.com/eventlet/eventlet/pull/506

[2018-09-20 09:43] thedrow commented on #206
Is this the full stack trace?
That doesn't look complete.

[2018-09-20 12:33] galuszkak commented on #206
@thedrow I'm not sure there is much more to add. Here is full stack trace:
[code]

[2018-09-20 12:33] galuszkak commented on #206
Still looks for me, that this is amqp issue, as this works perfectly fine in Python 3.6.

[2018-09-20 12:54] clokep commented on #206
From the [Python 3.7 docs on `ssl.SSLSocket`](https://docs.python.org/3/library/ssl.html#ssl.SSLSocket):

From [higher on that page](https://docs.python.org/3/library/ssl.html#socket-creation) this is given as the recommendation since Python 3.2 and Python 2.7.9. It is unclear if this function is available in earlier versions of Python 2.7 (e.g. Ubuntu 14.04 uses Python 2.7.6 still).

[2018-09-20 13:01] galuszkak commented on #206
I will prepare PR for this then if this is just a matter of this.

[2018-09-24 10:50] levsh commented on #197
Hi! I got the similar error.

      File "/opt/.../embedded/lib/python3.5/site-packages/celery/app/base.py", line 745, in send_task
        amqp.send_task_message(P, name, message, **options)
      File "/opt/.../embedded/lib/python3.5/site-packages/celery/app/amqp.py", line 552, in send_task_message
        **properties
      File "/opt/.../embedded/lib/python3.5/site-packages/kombu/messaging.py"

[2018-09-26 15:57] jasconius commented on #200
confirming this issue on FreeBSD. Using freebsd's package manager version of rabbitmq, but identical behavior... going to attempt to roll back to older rabbitmq to see if this addresses it

[2018-09-26 16:37] clokep commented on #200
You likely need to modify the `KNOWN_TCP_OPTS` on FreeBSD, it seems to already have a bunch of platform specific changes in it.

[2018-10-03 09:10] matusvalo opened #207 "py-amqp does not handle negative acknowledgements"
In some corner cases RabbitMQ can sent `nack` to client instead of `ack`:
https://www.rabbitmq.com/confirms.html#server-sent-nacks
This situation is not handled correctly by library and raises the following exception:
[code]
It is difficult to reproduce this situation, but I was able to do it using the following scripts:
* Mock AMQP Server:
[code]
* client:
[code]
The following scripts was run on

[2018-10-05 09:47] Usui22750 commented on #206
We juste encountered the same issue. Any news?

[2018-10-05 13:28] thedrow commented on #206
No one has made a PR yet.

[2018-10-05 14:21] galuszkak commented on #206
I have some PR in work. Will send it over the weekend.

Thanks
Kamil

On Fri, Oct 5, 2018 at 3:28 PM Omer Katz <notifications@github.com> wrote:

[2018-10-05 18:10] tomc797 opened #209 "Connection.connect, Connection.close don't close socket on exception"
I've encountered this issue for ampq 2.3.2 and python 3.6.6.

If there is a network error or if the remote peer unexpectedly closes the stream, the underlying socket in Connection.transport remains open when exceptions are encountered in Connection.connect and Connection.close. I would expect the socket to be closed and resources released in these instances. As an example, start netcat (depending

[2018-10-08 19:48] raratiru commented on #200
@clokep  [I just got confused! ](https://www.google.com/search?client=firefox-b&ei=W7O7W4ykIbGk_QaGwa6ADg&q=KNOWN_TCP_OPTS+freebsd&oq=KNOWN_TCP_OPTS+freebsd&gs_l=psy-ab.3...0.0.0.3176.0.0.0.0.0.0.0.0..0.0....0...1c..64.psy-ab..0.0.0....0.WnvE8AmJZCs) What kind of modification is requied?

[2018-10-08 19:51] clokep commented on #200
@raratiru Check out the changes in #167, they touch this code that configures `KNOWN_TCP_OPTS`:

https://github.com/celery/py-amqp/blob/dc5b07c2320f932b2dd8342d0f4d578c095600cf/amqp/platform.py#L32-L57

Something is probably "wrong" with this code for FreeBSD. You could check what this code returns and attempt removing each option until you don't get this error. (Or compare what `KNOWN_TCP_OPTS` e

[2018-10-09 08:45] raratiru commented on #200
OK, this is clear!

The author of #167 is referring to some failing tests however that [are unreachable now](https://codecov.io/gh/celery/py-amqp/pull/167?src=pr&el=tree).

[git-bisect](https://git-scm.com/docs/git-bisect) could help in that case, if we had a failing test to run it against.

[2018-10-12 06:09] #209 closed

[2018-10-12 14:29] raratiru commented on #200
@auvipy  There are two issues that I do not understand regarding the above prompt:

* Whom is it addressed to?
* How is this pr going to be tested, given that openbsd or freebsd or *bsd are not included in the [platforms](https://github.com/celery/py-amqp/blob/6cea54ed85318317af3f02c1da0e4bcdde6a4af3/amqp/platform.py#L41) tested against.

The problem seems to be deeper:

Are we sure that py-amqp i

[2018-10-12 15:07] clokep commented on #200
@raratiru The above request for a PR was to anyone who cares about having BSD supported.

I'm unsure how it would be tested, especially since no CI is done on it. But likely people in this issue could be asked to test it.

[2018-10-12 15:24] raratiru commented on #200
OK!

I will try to tackle with the `KNOWN_TCP_OPTS` differences between the two commits and report back the results.

[2018-10-12 15:32] clokep commented on #200
As with the other if statements there, you'll likely need to check `sys.platform` or `platform.*` to separate changes from Linux. I don't have a BSD system around to play with to see what those appear as.

[2018-10-12 19:04] raratiru commented on #200
I run git bisect which revealed something new:

The first bad commit is the following:

[code]

This commit introduces the following error:
[code]

Bisecting again, this commit:

[code]

Is the commit that inserts the current error:

`[2018-10-12 22:01:29,865: ERROR/MainProcess] consumer: Cannot connect to amqp://... [Errno 42] Protocol not available.`

[2018-10-12 19:36] raratiru commented on #200
Here is the issue:

https://github.com/celery/py-amqp/blob/dc5b07c2320f932b2dd8342d0f4d578c095600cf/amqp/platform.py#L41-L44

`TCP_USER_TIMEOUT` should also be removed for openbsd.

In my case:
[code]

[2018-10-14 12:47] clokep commented on #200
I believe this is fixed by #211, but one of the reporters of this bug should confirm!

[2018-10-14 13:59] raratiru commented on #200
Yes I can confirm, thank you!

Looking forward to a new release so pip will grub the changes.

I am closing this OpenBSD related issue.

[2018-10-14 13:59] #200 closed

[2018-10-19 15:30] #207 closed

[2018-10-24 19:44] jesse-sempre commented on #206
Just as a heads up for those looking for a temporary work around pinning to amqp==2.1.4 seems to work still.

[2018-11-06 15:29] clokep commented on #206
I believe this can be closed now.

[2018-11-06 15:36] #206 closed

[2018-11-13 23:16] matusvalo opened #218 "When py-amqp tries to publish to nonexistent exchange crash with AttributeError: 'NoneType' object has no attribute 'drain_events'"
Steps to reproduce:
1. ensure that `test_exc` exchange does not exist
2. execute the code below

Example code:
[code]
Executing of the script ends up with the following stacktrace:
[code]
I was able to replicate this issue on RabbitMQ 3.7.8 and Master branch of py-amqp.

I have found out that connection was set to None in the following line:
https://github.com/celery/py-amqp/blob/0e793de205e447d57

[2018-11-14 06:07] auvipy opened #219 "Release Version 2.4"

[2018-11-14 06:09] auvipy commented on #219
@thedrow this should start the process of the 4.3 version. if you can't please

[2018-11-26 13:52] #162 closed

[2018-12-09 12:09] auvipy commented on #219
can we release this?

[2018-12-27 23:32] 3ddi commented on #219
Seems to be stuck for a while now.
@auvipy @thedrow something specific you are waiting for? Can I help somehow to speed up the process?

[2018-12-30 01:28] matusvalo opened #232 "channel.queue_declare raises TypeError"
PR #208 Introduces calls callbacks of wait with new parameter (`method`). This new parameter is returned via `wait()` method which breaks some code which does not expect this new parameter to be returned by `wait()` method.

Example broken script:

[code]
This script crash with exception:
[code]
The easy hot fix is as follows in `AbstractChannel::wait`
[code]

[2018-12-30 01:32] matusvalo commented on #219
@3ddi thank you for your findings. I have created issue for it: #232. The easy hot fix is as follows in `AbstractChannel::wait`
[code]
I will provide PR fixing this issue with fix soon.

Could you check whether you saw any other issue after manual patching of py-amqp?

[2018-12-31 02:02] matusvalo commented on #219
I have created PR #233 which fixes the issue. Is it possible to test the library with this patch before releasing 2.4?

[2018-12-31 10:14] #232 closed

[2018-12-31 13:42] thedrow commented on #219
Will do.

[2018-12-31 20:02] 3ddi commented on #219
Sorry for the delay, just checked with latest master (as I see you pushed the PR) and it seems to work well now, thanks!

[2019-01-10 09:45] matusvalo commented on #218
@auvipy you can close this issue now...

[2019-01-10 10:11] auvipy commented on #218
thanks!!

[2019-01-12 02:43] HT154 commented on #219
Any updates on this? I'm working on updating a bunch of services to Python 3.7 and the lack of a released version including #215 is the last thing in the way.

[2019-01-12 09:36] thedrow commented on #219
We're working on it.
Expect a release very soon.

[2019-01-13 12:12] thedrow commented on #201
Not at the moment, no.
PRs are welcome.

[2019-01-13 12:15] thedrow commented on #124
This is now fixed by #211.

[2019-01-13 12:15] #124 closed

[2019-01-14 08:56] thedrow opened #237 "Build broken for 2.4.0"
Seems like the integration tests are flaky.
@matusvalo since you contributed them do you mind taking a look?
See https://travis-ci.org/celery/py-amqp/jobs/479015397

[2019-01-14 12:22] pquentin commented on #232
With the 2.4 release, Channel.basic_consume now returns a tuple (consumer_tag,) instead of only the consumer_tag string, and sending that tuple to basic_cancel fails. Is this an expected change, or something that could be fixed in a future release?

[2019-01-14 13:14] xordoquy opened #239 "basic_publish returns a tuple instead of a `consumer_tag`"
Hi,

Since 2.4, I notice the call to `basic_consume` without `consumer_tag` nor `nowait` now returns a tuple with a `consumer_tag` instead of the `consumer_tag` itself as was the case in the previous release.
It is not clear to me whether it's intended or not.

[2019-01-14 13:32] xordoquy commented on #239
I saw that PR but fail to understand whether or not the change in the returned value was intended.
@matusvalo, any idea about ?

[2019-01-14 19:06] matusvalo commented on #237
Fixed in #236. But afrer bumping version of pypy the tests are failing but in place not connected to integration tests. Moreover, in PR run of CI the failed test passed.

[2019-01-14 20:42] matusvalo commented on #237
Hm strange, I have manually triggered builds 3 times in travis and all the time all tests passed. Not sure why this particular build failed. Now everything is green.

[2019-01-14 21:14] #237 closed

[2019-01-14 23:21] matusvalo opened #241 "Fix and document return value of basic_consume"
`Channel.basic_consume()` now has 2 return values:
* consumer_tag - when `nowait == False`
* promise object wen `nowait == True`
* `ValueError()` when `nowait == True` and user does not specify `consumer_tag`

This is confusing since the API is schizophrenic and returns two different values. Moreover promise object does not have any value to user of library.

I propose that consumer_tag is always

[2019-01-14 23:22] matusvalo commented on #239
Done. I have also added issue for improving API of `basic_consume()` - #241.

[2019-01-15 05:52] #239 closed

[2019-01-15 10:11] jakvb opened #242 "Error SunOS, omnios 5.11, consumer: Cannot connect to amqp://****: [Errno 99] Option not supported by protocol."
AMQP version 2.3.2

[2019-01-15 12:12] matusvalo commented on #242
@jakvb could you check it against master or at least against version 2.4.0? Could you provide some simple example failing?

[2019-01-15 13:03] jakvb commented on #242
Checkout to version 2.4. Platform supports only 'TCP_MAXSEG', 'TCP_NODELAY'.

[2019-01-15 13:14] clokep commented on #242
See #211 where this was fixed for BSD. I think that has some directions on how you can check which options are available.

[2019-01-15 14:14] tevansuk opened #243 "KeyError: connection.blocked"
Hi all.

After the release of 2.4.0, we get "connection.blocked" key errors. This seems to relate to:

Drain events before publish data. (#214)  …
b0bc72f

We use:

celery 4.2.0
kombu 4.2.2.post1

The server is RabbitMQ 3.1.5 (I suspect this is the issue).

Falling back to amqp==2.3.2 fixes the problem for us.

[2019-01-15 14:20] clokep commented on #243
Could probably change that code to `client_properties['capabilities'].get('connection.blocked', False)`, which just defaults to not supporting it if the key doesn't exist.

[2019-01-15 14:45] matusvalo commented on #243
Yes I think this is possible solution. @thedrow please postpone new release until this is fixed. I can do the fix soon.

[2019-01-15 14:47] clokep commented on #243
This also makes me wonder if this package has a documented minimum RabbitMQ version it supports?

[2019-01-15 21:12] thedrow commented on #243
We unfortunately don't.

[2019-01-15 21:30] clokep commented on #243
I was curious when this feature was added: [Blocked connection notifications](https://www.rabbitmq.com/connection-blocked.html) was added to RabbitMQ 3.2.0 (so one version after @tevansuk's!) released October 23, 2013 (info from [RabbitMQ changelog](https://www.rabbitmq.com/changelog.html)).

Seems easy enough to include a workaround though...

[2019-01-15 21:59] matusvalo commented on #243
Hm I am not sure whether it is only supported version of RMQ. There can be uses of this library also with other brokers than RMQ. I think that we should support also brokers not supporting RMQ extensions.

[2019-01-15 23:51] matusvalo commented on #243
I have spent some time looking into code responsible for negotiating capabilities with server. I think that there is a room for improvements because:
* `Connection.client_properties['capabilities']` contains only capabilities set to `True`. Basically it is the same as the set of supported capabilities.
* `Connection.client_properties` does not contain `'capabilities'` key when broker does not cont

[2019-01-16 15:49] matusvalo commented on #242
@jakvb could you please test amqp on your platform with patched `KNOWN_TCP_OPTS`? Replace `KNOWN_TCP_OPTS` in file amqp.platform.py with OPTS supported by your platform. Does it fix your problem?

[2019-01-17 10:18] jakvb commented on #242
After switch order of `setsockopt` and `connect` it connect succesfully.

[code]

[2019-01-17 21:30] #243 closed

[2019-01-17 21:40] matusvalo commented on #243
@tevansuk fix of the issue is in master. Could you check whether this issue still occures when you use master?

[2019-01-18 01:42] tevansuk commented on #243
Absolutely, I'll take a look in the morning.

On Thu, 17 Jan 2019, 21:40 Matus Valo <notifications@github.com wrote:

[2019-01-18 14:43] matusvalo commented on #242
I did a simple test - I moved `setsockopt()` before `sock.connect()` and it was able to connect and read data from broker on linux platform.

[code]
@jakvb could you patch py-amqp and check check whether this fix is working for you or not. But in any case I am not expert in low level networking API so we need to be careful with this change to not break some other platform (WIN/LIN/BSD).

[2019-01-18 20:44] #111 closed

[2019-01-21 09:18] pquentin commented on #239
@thedrow a bug fix release would be nice! We currently need this workaround in our code:

[code]

Thank you for your work on py-amqp!

[2019-01-22 12:06] jakvb commented on #242
Patch works. Thank you.

[2019-01-22 14:58] thedrow commented on #243
Right. @matusvalu are we ready for a bugfix release?

[2019-01-22 15:34] AvnerCohen commented on #218
Running 2.4.0, we are still getting the same exception:
`'NoneType' object has no attribute 'drain_events'`
From amqp/abstract_channel.py in wait at line 80
[code]

Anyone else still getting it ?

Thoughts on what is causing it ?

[2019-01-22 23:39] matusvalo commented on #218
@AvnerCohen I was not able to create situation with your Exception. Could you provide some simple failing example?

[2019-01-23 07:42] AvnerCohen commented on #218
:( I afraid not. We randomly get it in production, random workers would crash.

@matusvalo What's interesting is that your suggested fix is basically to expose the "correct: exception:
`amqp.exceptions.NotFound: Basic.publish: (404) NOT_FOUND - no exchange 'test_exc' in vhost '/'`

In our case, we seem to be getting both of this errors:
[code]
From amqp/channel.py in _on_close at line 282:

[code]

[2019-01-23 09:51] matusvalo commented on #218
@AvnerCohen I was afraid that it is random issue. I am not sure about problem on kombu/celery side because the exception is coming from py-amqp. If there is issue on celery/kombu side in worst case py-amqp *must* be able handle correctly wrong usage. Could you post here full tracebacks for not found errors and also attribute error? + how often do you get this errors?

At least I know about one pro

[2019-01-23 09:57] AvnerCohen commented on #218
@matusvalo thanks so much for the insights and time.

We are getting this during deploy of new code changes or any maintenance that involves large scale stop/start of workers (btw - which brings this item as could be relevant - https://github.com/celery/celery/issues/4618 - bot looks like there is no extra info there).
So it is very much dependent on the count of deploys we make.

Here are the two

[2019-01-25 11:26] aojea opened #249 "Increase code coverage in amqp/transport.py"
Current code coverage in amqp/transport.py is lower than the rest of the code and there are several functions that don't have any coverage that's very risky

[code]

[2019-01-27 09:23] #249 closed, assigned to nobody

[2019-01-28 12:43] AvnerCohen commented on #218
@matusvalo Anything we can help or provide information additional info on that?

[2019-01-30 13:29] maingoh opened #252 "Publish raise socket.error: [Errno 10035] on Windows"
Using `kombu==4.2.2.post1` and `amqp==2.4.0`, doing a simple publish on windows raise:
[code]

This is working on Linux, also it is working when downgrading to `amqp==2.3.2`.

The code:
[code]

[2019-01-31 17:44] matusvalo commented on #218
Thank you @AvnerCohen. I need to have to fine some spare time to have a look on that... For now no.

[2019-02-04 06:02] #252 closed

[2019-03-07 06:30] AbhimanyuHK opened #263 "OSError: Server unexpectedly closed connection on ActiveMQ"
python : 3.7
os : windows 10
Service : ActiveMQ

Snippet
[code]

error

[code]

[2019-03-12 00:39] anurag90x opened #265 "Sending 0 in heartbeat negotiation"
Based on https://github.com/pika/pika/commit/3027890081adaa067268aa4839638a32734c263f and

[code]

[2019-03-12 16:10] thedrow commented on #265
[This](https://github.com/celery/py-amqp/blob/master/amqp/connection.py#L701) should determine if heartbeats are sent.

[2019-03-12 16:29] anurag90x commented on #265
Right, but `self.heartbeat` is being set to 0 if `self.client_heartbeat == 0`. So, the client will not send heartbeats but from that pika commit and the docs it looks like the server will still send heartbeats even if the client wants to disable heartbeats.

[2019-03-13 08:42] thedrow commented on #265
I'm not sure I understand. Need more :coffee: and details.

Can you please elaborate.

[2019-03-13 14:11] thedrow commented on #263
I noticed it as well when trying to test py-amqp with ActiveMQ.
Does it support AMQP-0-9-1?

[2019-03-13 14:12] thedrow commented on #242
@matusvalo Any chance for a PR for this?

[2019-03-13 14:17] thedrow commented on #218
Anything new on this issue?

[2019-03-13 14:24] clokep commented on #263
No, http://activemq.apache.org/amqp.html says it only supports AMQP v1.0.

[2019-03-13 14:26] thedrow opened #266 "Tables with unicode values fail to be serialized correctly"
On Python 2 the following dictionary:
[code]
is deserialized as:
[code]

That's incorrect and we should find a way to fix it.

The problem is the fact that '\x80' is a byte string but it is not specified as such. It should not be encoded to a unicode string.
On Python 3, this is fixed because unicode is fixed.

[2019-03-13 14:29] #263 closed

[2019-03-13 14:30] thedrow commented on #263
We will consider adding support for 1.0 later on.

[2019-03-13 20:25] anurag90x commented on #265
Ah I'm probably not explaining it properly. Essentially, there's this line -

https://github.com/celery/py-amqp/blob/master/amqp/connection.py#L421

which is saying if the `client_heartbeat` is set to 0 (the default, which also goes into the `tuneOk` method), the lib turns off heartbeats. However, according to pika/pika@3027890 and the rabbitmq documentation, even if the client sends 0 as the valu

[2019-03-14 12:23] thedrow commented on #265
According to 4.2.7 in the specification if a peer does not support heartbeats it simply discards those messages without any error.

Specifying that there are no client heartbeats is allowed.

If I'm reading what you are saying correctly, **RabbitMQ** expects the heartbeat interval to be the non-zero value.
While sensible, other implementations may choose a different method.

Correct?

[2019-03-18 17:23] jimbobhickville opened #267 "pyamqp transport is not thread-safe"
When talking to rabbitmq, you need to use a different channel_id per thread. The pyamp transport does not do this and always reuses channel_id 1 for all threads within a process. This results in a lot of silent failures where no exceptions are raised, but messages fail to be published or consumed.

I have locally monkey-patched the Channel object to force a unique channel id per active thread, and

[2019-03-18 17:23] thedrow commented on #267
This actually belongs to py-amqp itself.
We can definitely add this code.

It seems sensible.

[2019-03-18 17:25] thedrow commented on #267
Are you sure that's the case?
Seems like we pick a new channel id every time we create a channel:
https://github.com/celery/py-amqp/blob/938f8a34bc6608d9b8889958828ea2d96ebdf8ed/amqp/connection.py#L466

[2019-03-18 20:07] anurag90x commented on #265
👍 I checked the spec, so just to clarify the fact that the client is ignoring the heartbeat won't cause the connection to be terminated by the broker, right?

If that is not the case (termination of the connection) I can see the justification on a client by client basis but I think it can lead to some confusion between different clients especially since pika and the java client are both using the

[2019-03-19 06:25] thedrow commented on #265
If the client says it doesn't support heartbeats, then the server should respect that fact.
If it sends heartbeats anyway, the client silently ignores them.

That's not the case with RabbitMQ, it seems.

I'll accept a PR with the behavior you proposed. I think that for the time being that's the right thing to do.

[2019-03-19 07:58] thedrow commented on #267
I'm pretty sure your solution does not make py-amqp threadsafe since we don't specify which channel to use.

When I try to close a connection after multiple channels have been created in different threads I get the following exception:

[code]

Both threads simply hang until the join times out...

[2019-03-20 09:09] felixonmars opened #268 "Missing git tag for 2.4.2 release"
It would be nice to keep PyPI releases and git tags in sync :)

[2019-03-20 11:28] thedrow commented on #268
Thanks. I'll push it.

[2019-03-20 13:51] thedrow commented on #268
Done.

[2019-03-20 13:51] #268 closed

[2019-03-25 12:00] eliasdorneles commented on #97
Hello!

The ReadTheDocs setup seems to continue being a problem -- here is an image illustrating my confusion trying to figure out the latest stable version:

![issue-docs-amqp](https://user-images.githubusercontent.com/37565/54918080-9d0bcf00-4efd-11e9-86e9-4395c1fb2dc9.png)

(I wanted to find the changelog, i ended up finding it on Github: https://github.com/celery/py-amqp/blob/master/Changelog)

[2019-03-25 13:37] thedrow opened #270 "Add integration tests for our SSL transport"
Currently our integration tests do not verify our SSL support.
The container supports configuring SSL on the broker's side using environment variables.
However, the tox-docker doesn't support mounting or copying files which means we don't have a way to mount the required certificates.
We should use [trustme](https://github.com/python-trio/trustme) to generate the certificates before running the te

[2019-03-27 12:20] jimbobhickville commented on #267
Sorry for the delay in responding, I was on vacation and then forgot when I returned. So, it's possible this was a red herring. I was able to confirm that each thread was using the same channel id before. The `_get_free_channel_id` method was returning the first id from the array in each thread. I am not, however, sure that this was causing the actual problem that I was having.

Each thread in my

[2019-03-27 14:38] thedrow commented on #267
Wait so we're talking about different **connections** that were trying to use the same **channel id**?
That should be allowed. Bunny does the [same thing](https://github.com/ruby-amqp/bunny/blob/master/lib/bunny/channel_id_allocator.rb#L9).

So does pika:

https://github.com/pika/pika/blob/40c60a7f3b08b769e3160b7dc2e5e0ec41ebd9fa/pika/connection.py#L1652-L1665

What I tested was sharing a connecti

[2019-03-27 20:20] ask commented on #267
Amqp connections are not thread safe.
You need to use one connection per thread.

Should not attempt to make channels thread safe, unless it is part of a larger plan.

Sent from my iPhone

[2019-03-27 20:32] thedrow commented on #267
I do want to make channels threadsafe.
Can connections ever be threadsafe or should we raise an exception when it's being used from a different thread?

[2019-03-28 01:29] jimbobhickville commented on #267
Ah, so each connection can have the same channel id as long as they're separate connections? Then you can probably close this ticket. It would be nice to fix the documentation that the default pool limit is 10, not infinite.

[2019-03-28 02:07] ask commented on #267
I assume you mean “don’t” because it will have no practical benefit.

Even if you raise an exception in Connection when creating a channel, you would have to protect the socket and check for every single write.

If threads are sharing channels/connections they will crash soon enough as framing becomes corrupted.

The way to use threads with amqp is to have one thread reading/writing from the socke

[2019-03-28 07:35] thedrow commented on #267
Bunny uses a mutex to protect writes but not reads.
I'll have to measure and see if it really degrades performance.

[2019-03-31 09:54] drscream commented on #242
I would like to add that I do not run into that issue on SmartOS version `20180510T153535Z` and `amqp==2.4.2`. The error message for my issue looks more or less the same as yours but it could be fixed in a different way:

**Error message**

[code]

**Solution**

[code]

[2019-03-31 13:24] thedrow commented on #242
@drscream Any chance for a PR with these changes?

[2019-04-01 12:42] thedrow commented on #242
@drscream It seems like it is supported by Solaris:
https://docs.oracle.com/cd/E26502_01/html/E29044/tcp-7p.html

In any case, a patch is needed for us to resolve this.

[2019-04-01 12:55] thedrow commented on #180
This does look like it is resolved in the latest version or earlier.

[2019-04-01 12:55] #180 closed

[2019-04-02 11:48] drscream commented on #242
@thedrow as recommended a pull request has been open. As already written in the pull request, the documentation might provide wrong information as this option could not be set on illumos based distributions.

I've tested my fix on:

- SunOS omniosce 5.11 omnios-r151028-d3d0427bff i86pc i386 i86pc
- SunOS smartos 5.11 joyent_20180510T153535Z i86pc i386 i86pc

[2019-04-02 15:40] #242 closed

[2019-04-02 15:42] thedrow commented on #266
This is a very low priority issue.
If it's not fixed before py-amqp 5.0 we will close it as we're dropping Python 2.7 support.

[2019-04-03 19:11] tracym1964 opened #273 "Missing TCP_MAXSEG TCP option on IBM i platform (transport.py in AMQP)"
I am using amqp 2.4.2 and kombu 4.5.0 Python packages on an IBM i system (PASE environment) where the IBM i OS is 7.3.  My Python version is 3.6.8 using GCC for aix6 6.3.0.  I am receiving an invalid TCP socket option on line 215 in transport.py within amqp package.  This line is within the _get_tcp_socket_defaults() method.  The TCP option is TCP_MAXSEG which apparently does not exist on the IBM

[2019-04-04 07:58] thedrow commented on #273
Please update the following file with the socket options available for your platform:
https://github.com/celery/py-amqp/blob/master/amqp/platform.py#L41

[2019-04-04 13:15] tracym1964 commented on #273
Thank you very much for your reply!

I added the following lines to 'platform.py', and my program is working.
  I have attached the entire file with the modification.

# aix does not allow to set the TCP_MAXSEG socket option
elif sys.platform.startswith('aix'):
     KNOWN_TCP_OPTS.remove('TCP_MAXSEG')
     KNOWN_TCP_OPTS.remove('TCP_USER_TIMEOUT')

Tracy Martin
tracym@angularisllc.com

On 2019-04-

[2019-04-04 13:16] thedrow commented on #273
Would you like to issue a PR or should I apply the patch?

[2019-04-04 13:25] tracym1964 commented on #273
Since I haven't issued a PR before, could you apply the patch?

Thank you!

Tracy Martin

On 2019-04-04 09:16, Omer Katz wrote:

[2019-04-04 13:28] thedrow commented on #273
Sure!

[2019-04-04 13:31] #273 closed

[2019-04-15 20:55] davidszotten opened #274 "is librabbitmq recommended?"
Hi,

The readme states

However, librabbitmq has much less activity than py-amqp, and responses to several issues there seem to recommend this instead.

Which is the recommended library to use? If py-amqp, does the readme need updating?

Thanks for a great suite of tools!

D

[2019-04-16 04:52] auvipy commented on #274
no not anymore

[2019-04-16 04:52] #274 closed

[2019-05-15 12:46] belug23 opened #275 "Version 2.4.X and Vine with Python2.7 support"
While installing amqp 2.4.2 in a python 2.7 environnement, we got an incompatibility error, the way the requirements are done, amqp installs vine 5.0.0a1 which doesn't support python2.7 anymore.

See https://github.com/celery/py-amqp/blob/v2.4.2/requirements/default.txt#L1

The correction definition would be something like `vine>=1.1.3,<5.0.0` and the package would still support 2.7.

Thanks

[2019-05-28 15:23] maingoh opened #276 "Infinite wait when using confirm_publish"
I am trying to get a robust amqp client and with this code I get an infinite wait in the last publish.

[code]

It seems there is no timeout property here https://github.com/celery/py-amqp/blob/09cf92a643ed075d048856a56a2e730482401558/amqp/channel.py#L1789

- kombu 4.5.0
- pyamqp 2.4.2

Any idea of what happens ? Thank you !

[2019-06-03 17:28] moggers87 opened #278 "Integration tests are failing"
See https://travis-ci.org/celery/py-amqp/builds

It appears to have been since 3f6818708987a69ca32a209ad50e205943ecaae5, though I don't see how that would break anything; alpha releases aren't normally installed, so nothing really changed

[2019-06-03 17:34] moggers87 commented on #275
What are you using to install amqp? Pip doesn't install alpha releases by default:

[code]

[2019-06-06 14:11] thedrow commented on #278
I'll check it out.

[2019-06-06 14:12] thedrow commented on #275
Yup, it shouldn't install it.

[2019-06-07 12:39] matusvalo commented on #276
The reason of it is because channel error occurred (`NotFound`). As long as I understand, channel in AMQP protocol should be closed after channel error and new one should be opened. Possible fix in this example is:
[code]

In my opinion this is not issue on pyamqp side. Maybe Kombu can be improved that it can automatically create new channel when Channel error occurs.

[2019-06-10 05:38] matusvalo commented on #218
@thedrow for now no. I am not able to reproduce the issue.

[2019-06-10 06:42] matusvalo commented on #218
One possibility came to my mind:
From stacktrace:
[code]

The other possiblity is that when Client sends `Close` method it waits for `Close-OK` but in the meanwhile another message comes requesting waiting which yields another message with wating etc... In general AMQP spec requires that after `close` method is sent client must process *only* `Close-OK` replies [1]:

Unfortunately py-amqp library

[2019-06-10 08:41] thedrow commented on #218
Hmm so how do we fix that?

[2019-06-10 11:55] thedrow commented on #276
But I do think a timeout is a good idea.
@matusvalo What do you think?

[2019-06-10 15:13] #278 closed

[2019-06-10 15:23] thedrow commented on #276
@maingoh Check the PR. Let me know what you think.

[2019-06-10 15:24] thedrow commented on #275
This is definitely not a bug.
I'm going to close this now.

Feel free to comment if you feel otherwise.

[2019-06-10 15:24] #275 closed

[2019-06-10 15:26] thedrow commented on #278
Thanks for the heads up.
I would have never noticed in a timely manner.

[2019-06-10 15:36] maingoh commented on #276
Thank you, I actually didn't know that channels couldn't be reused after errors. So if a channel error occurs on the connection `default_channel`, we have to recreate a `default_channel` and revive all created entities with default channel ?
I guess it is better to have one entity/one channel then no ?

[2019-06-10 17:08] thedrow commented on #276
I think that's the default behavior.
If you don't specify a channel it will be created for you.

[2019-06-12 05:39] matusvalo commented on #218
@thedrow  see #280.

[2019-06-13 20:58] matusvalo commented on #218
@AvnerCohen could you please check master branch if your problem occurs?

[2019-06-17 12:20] AvnerCohen commented on #218
@matusvalo On our end, we have seen this behavior when starting some 80 celery workers (with anywhere between 2 to 8 concurrency) in parallel.
To work around the issue, we broke this down and are no longer doing that (at max we start 20 workers at the same time) and this seems to have solved the issue for us.

[2019-06-17 14:47] KiranKVasu commented on #263
python : 3.7
OS: windows10
service: rabbitmq

facing error

also this queue is not available post this error message:

[2019-06-17 14:54] KiranKVasu commented on #101
python : 3.7
OS: windows10
service: rabbitmq (version 3.7.14)

facing error

also this queue is not available post this error message:

could anyone suggest any fix/ workaround to get rid of this error

[2019-06-17 19:10] thedrow commented on #263
Please open a detailed issue about this in Celery's repository.

[2019-06-19 12:18] matteius commented on #267
Could you use a futex instead?

[2019-06-19 12:30] matteius commented on #267
I am a bit confused on hope one of you can bring some clarity to this, because if this is sharing a connection across threads which share the same global interpreter lock or GIL, then only one thread is ever running at once (unlike in prefork which uses multiprocessing and actually forks the process so each has their own GIL and can run in parallel).  So if only one thread can run at at time and t

[2019-06-19 17:02] thedrow commented on #267
It does switch threads during syscalls. That's the whole point.

[2019-07-03 14:36] dhananjaysathe opened #282 "SNI is broken on python 2.7"
Pull request https://github.com/celery/py-amqp/pull/215 breaks on python 2.7 it works against ssl but breaks SNI as the wrap method quick exits for some reason

[2019-07-04 16:06] matusvalo commented on #282
@dhananjaysathe the this issue connected to #283 ? Can you provide some minimal failing code snippet?

[2019-07-16 08:46] dhananjaysathe commented on #282
There wont be any failing code in the traditional sense. You would need to run it against a rmq server behind a tcp proxy (like HAProxy) using SNI to route traffic. It wont send the header and will fail . In the pr i have detailed the code path that causes it to fail. More like a integration test of some sort i dunno how you could include that in your current setup, but would be interesting to kno

[2019-08-11 11:29] dingzhengkai opened #284 "amqp didn't send whole message to rabbitmq"
Hi, anyone can help to figure out what's wrong to my situation? And how to send long msg to rabbitmq?

I use the following code to publish the msg, about 1500 char, but rabbitmq didn't receive the whole msg, when i upgrade amqp to 2.5.0, the problem was solved.

My environment:
[code]
My code:
[code]

[2019-08-11 11:31] dingzhengkai commented on #284
I had enabled the rabbitmq tracing plugin to see if the whole msg was arrived to the queue correctly, the answer was not.

[2019-08-12 07:49] cnwenf opened #285 "the _confirm_selected of Channel shouble reset to be False when channel reopen"
If the channel is reopened (in the event of a channel error, such as exchange not found), _confirm_selected should be set to False again, otherwise the client will continue to wait for the ACK, but the server will not reply.

[2019-08-12 12:48] Greenev commented on #101
I had these warnings when using celery 4.3.0 with --pool=eventlet, RabbitMQ 3.6.5
Adding `connection.heartbeat_check()` in _celery/celery/worker/pidbox.py_ resolved the issue for me, see at [stackoverflow](https://stackoverflow.com/a/48250107/6657231)
Please, check if it is a correct solution of a problem?
[code]

[2019-08-12 15:15] gilbsgilbs opened #286 "auto_delete flag for exchanges is deprecated since 2014"
Hi,

Since 2014, setting the `auto_delete` flag for exchanges outputs the following warning:

Current py-amqp version is v2.4.2 and `auto_delete` flag for exchanges is still there.

What is the rationale behind this deprecation? [This comment](https://github.com/celery/kombu/issues/296#issuecomment-32184244) from @ask seems to indicate that it was deprecated within amqp itself a while ago, but I'm

[2019-08-12 15:32] gilbsgilbs commented on #286
Appears that it was [undeprecated](https://www.rabbitmq.com/amqp-0-9-1-errata.html#section_25).

[2019-08-13 10:53] #286 closed

[2019-08-13 15:50] thedrow commented on #284
If this was fixed in a later version of py-amqp, please upgrade.

[2019-08-13 15:50] #284 closed

[2019-08-14 02:22] dingzhengkai commented on #284
@thedrow , thanks for your reply. Sorry that i'm a newbie in python and amqp, i just want to learn if there are  any special params   in py-amqp need be used when sending long msg to rabbitmq

[2019-08-14 06:14] thedrow commented on #284
No there aren't.

[2019-08-18 13:55] thedrow commented on #282
There's #270 which specifies that we need integration tests for our SSL transport.
I tried setting it up myself but it didn't work and the client did not connect.
I didn't have a clue on why is that.
@dhananjaysathe Care to give it a shot?

[2019-09-11 14:21] auvipy commented on #197
@4383 thanks!! can we chat in IRC about the usage of celery in OpenStack?

[2019-09-11 15:34] thedrow commented on #197
Please check if #289 helps and let us know.

[2019-09-11 16:07] 4383 commented on #197
@auvipy my pleasure.
Do not hesitate to ping me on freenode, I'm "hberaud" on freenode.

[2019-09-20 05:07] Ludasheng opened #290 "The consumption log of events is about 2 minutes later than the time of sending the log, but there is no queue backlog in the monitoring of rabbitmq, so we want to consume the message as soon as possible."
Record a survey of rabbitmq consumption problems:

Problem: The consumption log of events is about 2 minutes behind the time of sending the log, but there is no queue backlog for monitoring rabbitmq

Queuing: The queue is not backlogged, but the consumption is delayed. It is suspected that the consumer has taken the data to memory, so there is no backlog in the queue, but the time spent on consumi

[2019-09-20 05:42] #290 closed

[2019-09-22 14:16] thedrow commented on #290
Why did you close the issue?
Is this a mistake?

[2019-09-25 08:28] alexroat opened #292 "missing on_close callback on Connection __init__"
How is possible to bind a callback function in order to detect the disconnection ?
In pika for example there is a useful binding.
This should be present in order to detect disconnection (from broker) and implement a connection respawning.

[2019-09-25 08:48] auvipy commented on #292
can you share the pika reference?

[2019-09-25 09:49] alexroat commented on #292
In the constructor of Connection:
https://pika.readthedocs.io/en/stable/modules/connection.html

You can also bind later:
https://pika.readthedocs.io/en/stable/modules/connection.html?highlight=on_close#pika.connection.Connection.add_on_close_callback

[2019-11-08 00:18] rconradharris opened #293 "Infinite wait possible in Channel.queue_declare"
I'm using Celery for messaging and recently noticed that my `task.delay` requests were blocking forever. I traced out the code from celery, into kombu, and eventually in py-amqp.

I eventually landed at the code that was blocking and it turned out to be `Connection.drain_events()` , which is called from `AbstractChannel.wait()`. It turns out that while `wait()` accepts a `timeout` parameter, it do

[2019-11-13 12:29] thedrow commented on #293
Thank you very much for the report.
We will try to address it as soon as possible.

[2019-12-05 17:30] aetimmes opened #298 "Tagged 2.5.1 release versioned as 2.5.0"
https://github.com/celery/py-amqp/blob/84481db19bec9e82e4fdf19d49216c8bf3e7100d/amqp/__init__.py#L9 <-- should list 2.5.1 and not 2.5.0.

This causes 2.5.1 to install in the location of 2.5.0 when setup.py is run against it, which breaks dependencies for celery etc.

[2019-12-05 17:40] auvipy commented on #298
which version are you trying? https://github.com/celery/py-amqp/blob/master/amqp/__init__.py

[2019-12-05 17:46] aetimmes commented on #298
I am trying the version tagged as 2.5.1.

If you download the 2.5.1 tagged release version from the releases tab
here: https://github.com/celery/py-amqp/releases

and expand the tar and read amqp/__init__.py, the __version__ variable
inside is specified as 2.5.0.

On Thu, Dec 5, 2019 at 12:40 PM Asif Saif Uddin <notifications@github.com>
wrote:

[2019-12-05 17:50] auvipy commented on #298
try the latest release

[2019-12-05 18:16] aetimmes commented on #298
Hmm - last time I tried, I was using kombu 4.6.5 so amqp 2.5.1 was the only
option. I seem to have missed the kombu 4.6.6 release allowing for the use
of 2.5.2.

I'll try to rebuild using 2.5.2 - it should likely work. If you don't think
the version variable is worth updating retroactively, feel free to close
this issue.

On Thu, Dec 5, 2019 at 12:50 PM Asif Saif Uddin <notifications@github.com>
w

[2019-12-05 18:19] #298 closed

[2019-12-13 00:44] adkl commented on #37
Hello guys,

I am currently trying to solve a similar problem as here and https://github.com/celery/kombu/issues/621. After some time spent debugging, I realized this is the exact cause of the `amqp.exceptions.ConnectionForced: Too many heartbeats missed` error. So yeah, I have long-running tasks in AMQP consumers but still want to receive server answers to the heartbeats I am sending through anot

[2020-01-08 16:26] #270 closed

[2020-01-10 11:13] matusvalo commented on #130
Unfortunately, I am not able to replicate it:

[code]

Are there any steps how to reproduce this issue?

[2020-01-14 21:36] ljyca opened #302 "Configuring RabbitMQ Quorum queue for Celery"
I added the following line to my test application to try to configure a quorum queue.
---------------------------------------------------------------------------------------
app.conf.task_queues = [
    Queue('tasks', Exchange('tasks'), routing_key='tasks',
          queue_arguments={'x-queue-type' :'quorum'}),
]
___________________________________________________

And here are the errors that I h

[2020-01-17 12:36] matusvalo opened #303 "ssl.wrap_socket() is deprecated"
`ssl.wrap_socket()` from https://github.com/celery/py-amqp/blob/78ce51d5b4274fb2005b26f9d3e0bb4775b4d041/amqp/transport.py#L353 is deprecated from python 3.7 (see [1]). Based on documentation `SSLContext.wrap_socket()` should be used instead.

[1] https://docs.python.org/3/library/ssl.html#ssl.wrap_socket

[2020-01-26 03:12] shashidharrao opened #304 "Doesn't work with Python 3.7.4"
Doesn't work with Python 3.7.4,

DEBUG:boto:establishing HTTPS connection: host=s3.amazonaws.com, kwargs={'timeout': 70, 'port': 443}
DEBUG:boto:Proxy connection: CONNECT s3.amazonaws.com:443 HTTP/1.0

Traceback (most recent call last):
  File "./samlapi_formauth.py", line 233, in <module>
    buckets = s3conn.get_all_buckets()
  File "/usr/local/lib/python3.7/site-packages/boto/s3/connection.py",

[2020-01-26 05:17] tirkarthi opened #305 "Deprecation warning due to invalid escape sequences`"
[code]

[2020-01-29 09:58] matusvalo commented on #304
@shashidharrao the stack trace provided in your comment are not from py-amqp library.

[2020-01-29 10:11] #304 closed

[2020-01-30 09:40] ericman93 opened #306 "apply async of the first task takes a long time"
I'm trying to run a big plan via apply async
[code]
The problem is that even when my borker is redis, the first task is being sent to the amqp (celery base.py line 771)) and it get stuck for at least 20 seconds and after that nothing the task dosne't realy starts

version:
celery == 4.4.0
amqp == 2.5.2

[2020-01-30 13:19] #306 closed

[2020-01-31 13:46] icemac opened #307 "amqp.Message(timestamp:datetime)?"
The documentation for the `timestamp` parameter of `amqp.Message`says it has to be of the type ` datetime.datetime`, see https://github.com/celery/py-amqp/blob/78ce51d5b4274fb2005b26f9d3e0bb4775b4d041/amqp/basic_message.py#L58-L59

When actually using a `datetime` here I get `error: cannot convert argument to integer` in https://github.com/celery/py-amqp/blob/78ce51d5b4274fb2005b26f9d3e0bb4775b4d0

[2020-02-13 17:44] akanstantsinau opened #308 "Upgrade issue: UnicodeDecodeError: 'utf-8' codec can't decode byte 0xfd in position 1"
Hello

During upgrade Celery from:
amqp==1.4.9
celery==3.1.25
kombu==3.0.37
To:
amqp==2.5.2
celery==4.3.0
kombu==4.6.7

And having some task producers continue using old celery version at the moment when worker starts,
Following error occurs when celery worker starts:

[code]

[2020-02-16 12:22] thedrow commented on #308
We can't reproduce this problem without more information.

[2020-02-24 18:01] akanstantsinau commented on #308
Found the root cause for the issue.
There was unexpected librabbitmq==1.6.1 in Celery beat instance. Also only this instance was using py2.

Assume that I should close this issue, as it is caused by using too old libraries.

Thanks!

[2020-02-26 21:37] karolpawlowski commented on #302
After updating from 2.3.2 to 2.5.2 (and celery from 4.2.1 to 4.4.0) I have something like this:

amqp.exceptions.NotFound: Basic.publish: (404) NOT_FOUND - no exchange 'websocket_broadcast' in vhost 'am_vhost'

Maybe this is connected?

[2020-03-08 19:13] elijose55 commented on #303
Can I work on this issue?

[2020-03-26 09:55] matusvalo commented on #307
@icemac I confirm your bug.

[2020-03-26 12:46] #307 closed

[2020-04-01 05:49] acodercat opened #312 "ImportError: cannot import name 'ChannelError' from 'amqp'"
ImportError: cannot import name 'ChannelError' from 'amqp'

[2020-04-01 06:13] #312 closed

[2020-04-14 13:23] #178 closed

[2020-04-23 18:50] Perepyolka commented on #197
@4383 @thedrow Hi guys, any updates on this bug? We have encountered this issue and thinking about updating our amqp to have this fix https://github.com/celery/py-amqp/pull/289.

[2020-04-24 10:14] thedrow commented on #197
I haven't had the time to look at it.

[2020-04-24 12:30] 4383 commented on #197
@Perepyolka seems that my issue was fixed by #289

[2020-04-24 12:49] #197 closed

[2020-04-28 15:44] ashexpertVersion2 commented on #302
i have the same problem

[2020-04-28 19:41] ashexpertVersion2 commented on #302
quorum queues don't support global qos prefetch:
[https://www.rabbitmq.com/quorum-queues.html#global-qos](https://www.rabbitmq.com/quorum-queues.html#global-qos)
but i could't find a way to disable this feature...

[2020-04-29 04:58] auvipy commented on #302
@matusvalo

[2020-04-29 23:42] matusvalo commented on #302
I will look at this issue soon.

[2020-04-30 11:40] matusvalo commented on #302
I confirm for quorum queues one needs to use per consumer qos prefetch. qos prefetch can be set using `basic_qos()` [1] by  setting `a_global` to `False`:

https://github.com/celery/py-amqp/blob/8d0b37c649e3f30662c7ae43484ff4fa1baafd36/amqp/channel.py#L1787

Unfortunatelly, I am not having newest RabbitMQ supporting quorum queues but I suppose that this should be executed before consuming from que

[2020-04-30 12:03] matusvalo commented on #302
It seems that Celery has hardcoded qos to channel level:

https://github.com/celery/celery/blob/d5cddb09c7f703be38513116827e3ca80b0be899/celery/worker/consumer/tasks.py#L30-L38

I would create an Issue on Celery to enable user to configure global parameter of qos prefetch. At least you can try to get in your code `Connection` object and to call `default_channel.basic_qos(..., False)` before starti

[2020-04-30 13:23] ashexpertVersion2 commented on #302
can you describe a more specific way to enforcing celery to use this predefined `Connection`?

[2020-04-30 20:12] matusvalo commented on #302
@ashexpertVersion2 as I said I am not expert in Celery. Try to ask/raise question in Celery issues.

[2020-05-02 20:47] matusvalo commented on #302
@auvipy  you can close this issue.

[2020-05-03 03:34] #302 closed

[2020-05-10 04:08] timburke opened #320 "Framing errors on windows when using timeout due to BlockingIOError not handled right"
### High Level Summary

I've been tracking down an issue where using both the latest released stable and current `master` versions of `py-amqp` sometimes resulted in framing errors or py-amqp losing synchronization with the stream of frames coming from rabbitmq, causing it to hang because it misread data inside a message as the length of the next message.

The bottom line turned out to be that the

[2020-05-10 04:37] timburke commented on #320
Some additional clarify/corrections here.  It looks like the error **is not**  technically a subclass of `BlockingIOError` but rather a `socket.error`.

I modified `read_frame to add the following clause into the except handler:

[code]

This generated the following log messages when I reproduced the error:

[code]

It looks like on Windows, you can get a `socket.error` with `errno` set to `10035`

[2020-05-12 13:22] thedrow commented on #320
PRs welcome :)

[2020-05-13 16:03] timburke commented on #320
@thedrow Understood :)  Thank you for taking the time to review the issue and I will open a PR to fix it.

[2020-05-17 11:13] auvipy commented on #320
thanks for your detailed report! looking forward to the PR!

[2020-05-17 18:01] timburke commented on #320
PR on the way.

Just adding some additional notes for reference.  Turns out that on Windows, CPython defines `errno.EWOULDBLOCK = 10035`.

[code]

This is why `having_timeout()` turns this error back into a `socket.timeout()` error.  The place in CPython that does this platform-specific definition of `EWOULDBLOCK` is here:
https://github.com/python/cpython/blob/3466922320d54a922cfe6d6d44e89e1cea40

[2020-05-17 20:47] timburke commented on #320
PR open here:
https://github.com/celery/py-amqp/pull/321

[2020-05-19 08:49] girijesh97 opened #322 "consumer: Connection to broker lost. Trying to re-establish the connection..."
Hi,
I am using celery with my Django Application and I am facing connection error while executing a task for a longer time (approximately 10-15 mins). Though the connection is not getting broken for a shorter process.  Error log

[code]
Although connection is getting restablished. I tried various methods to resolve the issue as it has been mentioned in other issue on this repo like setting `broker

[2020-05-23 21:00] matusvalo commented on #322
@girijesh97 not sure if I can help you just from information you have provided. Is this behavior repeatable or has only random occurrence? Can you provide some minimal example, where this issue can be reproduced? Moreover, I would recommend to you to check:
1. if this problem occurs also on master
2. if this problem occurs also in older releases maybe which release is the latest working.

Providin

[2020-05-24 02:24] auvipy commented on #320
thanks!

[2020-05-24 02:24] #320 closed

[2020-05-28 08:01] girijesh97 commented on #322
@matusvalo Somehow I was able to solve the issue based on some speculation but I don't know if my solution is relevant or not. Here is the solution.
Initially, I was publishing several messages in a very small time frame. So I thought to introduce a sleep of 1 sec before publishing the next message. And fortunately, the error was resolved by doing so. It may sound very weird but just by doing this

[2020-05-28 08:01] #322 closed

[2020-05-29 23:21] timburke opened #323 "Unicode error if "long string" type header property is not UTF-8 encoded"
I've run into what I believe is a bug in how py-amqp deserializes message headers.  In particular, `py-amqp` assumes that `long string` entries in a header `field table` will always be valid utf-8 whereas this is not required by the standard.

The problem is reliably reproduced when `py-amqp` receives messages that were originally published to rabbitmq over AMQP 1.0.  RabbitMQ stores the orginal A

[2020-05-30 01:19] auvipy commented on #323
thanks

[2020-05-30 01:19] #323 closed

[2020-06-25 13:00] yuvadm opened #325 "SSL protocol is shutdown"
I'm running a celery worker which uses a RabbitMQ broker via an SSL connection. From time to time we're seeing an error in our logs

[code]

Which is coming from this line:

https://github.com/celery/py-amqp/blob/master/amqp/transport.py#L430

My best understanding is that `amqp` is attempting to write to a socket that has previously been closed, is it possible to know which side terminate the soc

[2020-06-28 11:59] thedrow commented on #325
Can you please attach the RabbitMQ logs from the time when the exception happened?

[2020-06-28 13:21] yuvadm commented on #325
Here are some RabbitMQ logs surrounding the exact time we got an `SSLError`:

[code]

[2020-06-28 14:26] yuvadm commented on #325
Some more details on our setup, the Celery workers are connecting to Rabbit on a separate k8s cluster, with a NAT instance sitting in the middle.

Our current working theory is that the NAT instance is doing something to *some* of the connections, and Celery/Kombu/pyamqp seems to be angry about it.

We'll continue to debug the exact root cause, but curious if we can get the Celery stack to be more

[2020-06-29 08:44] thedrow commented on #325
Since I don't really know what this error is and I can't find a description of it anywhere, I'm not sure how to help.

[2020-06-30 13:15] Llandy3d opened #326 "Disable heartbeats log"
On version 2.0.0 debug logging for heartbeats was added, it does not seem to be possible to disable them.
Is there something that can be done or is it a feature that could be added ?

[2020-07-01 07:48] thedrow commented on #325
I asked on [StackOverflow](https://stackoverflow.com/questions/62640207/what-does-the-ssl-error-protocol-is-shutdown-mean#comment110775167_62640207). That's the answer I got.

[2020-07-01 08:03] yuvadm commented on #325
@thedrow Thanks for helping us debug this error!

We're still trying to debug where our connections are being dropped and fix the root cause.

Eventually it would be nice to fix this behavior to handle drops more gracefully, and I'd be happy to help propose a patch for that.

[2020-07-01 15:04] 4383 commented on #326
Hello,

heartbeat logs are all to debug level [1] so have you try to simply ignore the debug level on your side?
I personnally think that these logs are properly implemented and useful in debug mode so if we introduce feature to disable them by using another way than simply ignore debug level could hide things during debug session.

[1] https://github.com/celery/py-amqp/commit/0416761daf88a8fdd604

[2020-07-08 10:44] Llandy3d commented on #326
Hi,

the linked commit tells exactly my needs and it seems that I was using an older version where it was still using the amqp logger while I wanted to disable only the heartbeats, with that I solved my problem, Thank you

[2020-07-08 10:44] #326 closed

[2020-07-08 15:56] 4383 commented on #326
@Llandy3d you're welcome :)

[2020-07-22 17:33] edvm commented on #186
Here having the same error:

[code]

Using `amqp==2.6.0`, and here is the code that (after pushing aprox 1 millon packages) raise the exception:

[code]

[2020-08-05 09:43] mskogorevrmc opened #330 "Received 0x01 while expecting 0xce" errors when using python-amqp"
On Debian Linux with Python3.5 with these packages:

[code]
I use RabbitMQ as brocker.
I occasionally get the following errors:
[code]
There are other tickets, but there is no activity in them: https://github.com/celery/celery/issues/1779 and https://github.com/celery/celery/issues/2066

 Could someone please help me sort this out?

[2020-09-02 09:55] #303 closed

[2020-09-07 12:14] jaxzon opened #340 "Requirements conflict between amqp and vine"
Error while installing requirements:
ERROR: amqp 2.6.1 has requirement vine<5.0.0a1,>=1.1.3, but you'll have vine 5.0.0 which is incompatible.

Partial list of requirements:
celery[redis]==4.3.0
celery-singleton==0.2.0
python-redis-lock==3.3.1
kombu==4.5.0
Django==2.2.1
python-jose==3.2.0

Which is causing:
[code]
Not sure is it kombu's issue or amqp...
EDIT - **Solution** which fixed my case:
Add

[2020-09-07 12:36] thedrow commented on #340
You shouldn't use 5.0.0 if you're not using Celery 5.0.0.

I've installed `amqp==2.6.1` myself and this is the result:
[code]

I'm not sure how you got that result.
In any case, this is not a bug or rather not a reproducible one if it is a bug.

[2020-09-07 12:36] #340 closed

[2020-09-07 12:39] vigneshprasad commented on #340
Thanks for putting up a fix so quickly! 👍 Really appreciate it!

[2020-09-07 12:45] thedrow commented on #340
I... didn't fix anything but sure. No problem. :smile:

[2020-09-07 12:51] jaxzon commented on #340
Quickfix is in my initial post.

[2020-09-07 13:21] thedrow commented on #340
But there's nothing wrong as I demonstrated.

[2020-09-08 18:51] ActionScripted commented on #340
Ran a test deploy and hit this same error. Fixed by explicitly installing amqp==2.6.1 which brings along vine. Not sure what changed -- our deploy code didn't -- but something did along the chain of dependencies.

[2020-09-09 19:12] stickperson commented on #340
I'm seeing the same problem.

[code]

[2020-09-10 05:53] thedrow commented on #340
Oh I see. So this is a problem for users of 4.3?

[2020-09-10 10:09] thedrow commented on #340
I just released 4.3.1 which addresses the problem. You are all welcome to upgrade.

[2020-09-11 14:34] LECbg commented on #340
Hello, I know this is already fixed, but I'm trying to understand what's happening with my requirements.
Excuse my ignorance, but I don't get why `vine 5.0.0` got installed, could anyone explain me?

This is my `pipdeptree` output (excerpt of just Celery stuff, obviously, there's no other place where `vine` is mentioned):
[code]
`Celery`'s `vine` requirement (>=1.3.0) would accept 1.3.0, which wou

[2020-09-13 09:54] thedrow commented on #340
It might be a bug in pip?

[2020-09-13 11:59] zeenfaizpy commented on #340
while installing add --use-feature=2020-resolver option

Pip shows following warning

[code]

[2020-09-14 11:46] thedrow commented on #340
@zeenfaizpy This is definitely a bug in pip's resolver.
We should file a bug report.

[2020-10-08 21:09] stadelmanma commented on #330
I can also confirm receiving this error.

[2020-10-09 06:55] matusvalo commented on #330
Hi Thank you for your bug report. It seems that this issue is an old bug which is very hard to reproduce. Are you able to reproduce it?

[2020-10-09 08:45] matusvalo commented on #330
I did some basic investigation. The issue is occurring due wrong value of frame-end value. Here is the AMQP frame structure:
[code]
The problem is that frame-end must contain `0xce` but it seems that you are getting different value.

[2020-10-09 08:47] matusvalo commented on #330
For now I have created PR with just cosmetic changes mainly to increase readability: #341

Please also note that when PR is merged/accepted, the error message will change to:
[code]
but the cause is the same.

[2020-10-09 10:53] stadelmanma commented on #330
Hi @matusvalo thanks for the prompt response! For more clarifications regarding my setup I am using celery 5.0.0 and python 3.7.9. We are building a web app that runs Flask with a separate Celery backend for async tasks. I was able to consistently reproduce using a "load testing" script that throws a bunch of req/s at the server and usually it would deadlock after the first 5-6 reqs.

The exceptio

[2020-10-09 12:19] stadelmanma commented on #330
@matusvalo I have attached an app that I can get to occasionally reproduce the issue [pyamq-330-repro.tar.gz](https://github.com/celery/py-amqp/files/5354772/pyamq-330-repro.tar.gz).

Export of my conda environment:
[code]

Run the following in separate teminals to get things going, I used docker for rabbitmq.
[code]

Unfortunately I get a separate error from inside the celery code that I wasn't g

[2020-10-09 20:07] matusvalo commented on #330
@stadelmanma I have one question. Can you replicate the issue when you are running it only in one single thread? E.g. by setting `THREADS=1` in run-app.sh?
[code]

[2020-10-10 01:28] stadelmanma commented on #330
@matusvalo I just tested our real app with THREADS=1, 2 and 4 and could not reproduce the problem in single threaded mode.

[2020-10-10 07:52] matusvalo commented on #330
This is good news @stadelmanma! It really seems that the issue is connected to raise conditions between threads! I think I already know where is the problem but I need to doublecheck it. In the meanwhile you can as workaround in your project use different WSGI container which supports prefork model (using processes) e.g. uWSGI. This should fix all your problems. Please let us know whether this hel

[2020-10-13 08:47] auvipy commented on #330
hope the recent fix from Matus solves your problem?

[2020-10-13 09:01] matusvalo commented on #330
@auvipy no it is not solving. It's just a improvement in code to be more readable (I had troubles to understand it in first hand). The fix of this issue is elsewhere and it seems it is connected to raise conditions between threads. I have an idea about it but I need time to investigate.

[2020-10-15 20:02] matusvalo commented on #330
After my investigation, this bug is not connected to py-amqp. This bug is caused due race condition in celery. Py-amqp and kombu does not support sharing Connection between multiple threads. Hence it should be closed in favor of https://github.com/celery/celery/issues/6414.

@mskogorevrmc, @stadelmanma, could you please verify temporary PoC fix in https://github.com/celery/celery/pull/6416?

[2020-10-16 11:22] LECbg commented on #340
I updated to 4.3.1 and the problem got fixed as I mentioned back in September, but I recently got this error back and I don't know why. Here's my `pipdeptree` output:
[code]
The error traceback:
[code]
I'm using Python 3.7.9 and added the flag `--use-feature=2020-resolver` while installing with `pip`.

Does anyone know what am I doing wrong?

Thank you.

[2020-10-19 08:45] mskogorevrmc commented on #330
@matusvalo Thanks for the help.
I changed the WSGI settings, and I'll get back to you in a few days because the error doesn't always reproduce.

[2020-10-28 20:59] Cameron-Calpin opened #342 "SSLTransport error: unexpected keyword argument 'ca_certs'"
Using amqp version 5.0.1, I discovered an SSLTransport error. When I use amqp version 5.0.0b1, SSL works just fine.

Here's the error I get when using amqp==5.0.1:

`/usr/local/lib/python3.8/dist-packages/kombu/connection.py:283: in channel
    chan = self.transport.create_channel(self.connection)
/usr/local/lib/python3.8/dist-packages/kombu/connection.py:858: in connection
    return self._ensure

[2020-10-29 15:22] thedrow commented on #342
It was removed as part of #327 since `_wrap_socket_sni()` no longer needs it (unless we were wrong and I believe we weren't).

It seems like we lack proper coverage in this branch as this should have been caught.

Do you have a suggestion or should I investigate myself?

[2020-10-29 21:47] Cameron-Calpin commented on #342
My suggestion is to restore the missing fields if possible.

Just need the `ca_cert` filed to be put back into `amqp/transport.py#339` (the `_wrap_socket_sni` method) that was removed in commit [ad9697ab2eaa97e153211c82e4bad8d655e63591](https://github.com/celery/py-amqp/commit/ad9697ab2eaa97e153211c82e4bad8d655e63591#diff-8bf65e6879a19d14c2d02835dc148a1b045e2d1c56fa13c6fd89de2426e54d03L339)

This

[2020-11-01 13:35] thedrow commented on #342
If you can contribute a fix, that would be most welcome.
I'm currently busy with the Celery 5.0.2 release which contains very urgent fixes and after that, I have to take care of the Django integrations.

[2020-11-05 15:45] thedrow commented on #342
@4342 Can you please assist?

[2020-11-05 15:46] thedrow commented on #342
@4383 Can you please assist?

[2020-11-06 10:30] 4383 commented on #342
@thedrow sure I'll take a look

[2020-11-06 11:12] 4383 commented on #342
@Cameron-Calpin I think we shouldn't remove this param, it correspond to a param consumed by a deprecated method that
will be removed from CPython soon [1].

We recently moved [2] to the recommended function to use in replacement [3] of the deprecated method, and this param no longer exist in the function's signature.

I suppose you need to update your code to adapt you to these changes.

This doe

[2020-11-06 21:58] matusvalo commented on #342
`ssl.wrap_socket()` internally passes `cacerts` parameter to  `SSLContext.load_verify_locations()`:

https://github.com/python/cpython/blob/7c01f1540f958d4f52188b28afca721a9a6925c3/Lib/ssl.py#L1400

I am not ssl expert but, does it make sence to reintroduce the cacert parameter and call `SSLContext.load_verify_locations()` directly from `_wrap_socket_sni()`?

[2020-11-07 11:31] 4383 commented on #342
@matusvalo good point, I think that yes it could be feasible. `ca_certs` could be set to `None` by default and then a call to `SSLContext.load_verify_locations` could be made if its value is not `None`, or something like that.

[2020-11-07 11:33] 4383 commented on #342
@moisesguimaraes any opinions about @matusvalo's suggestion?

[2020-11-07 20:22] matusvalo commented on #342
I did more investigation and found out that `SSLContext.load_verify_locations()` remote server (in our case RMQ broker) against CA certificate installed on client. Hence if you are not using this call you are encrypting the trafic between client and server but **you are not verifying identity of server** (to avoid man in the middle attack). So I suppose argument `ca_certs` should be reintroduced.

[2020-11-07 22:20] matusvalo commented on #342
I have created PR fixing this issue. @Cameron-Calpin , @4383 could you review this PR?

[2020-11-07 22:21] matusvalo commented on #308
Closing this issue since explained above.

[2020-11-07 22:21] #308 closed

[2020-11-08 10:56] #342 closed

[2020-11-08 15:00] moisesguimaraes commented on #342
@matusvalo is correct about the MITM possibility, The fix described by @Cameron-Calpin and implemented in #344 should fix this security hole.

[2020-11-08 16:47] #276 closed

[2020-11-09 10:08] 4383 commented on #342
@moisesguimaraes thanks

[2020-11-10 13:54] matusvalo commented on #282
python 2.7 is not supported - closing the issue.

[2020-11-10 13:54] #282 closed

[2020-11-12 22:03] matusvalo opened #345 "Link https://amqp.readthedocs.io points to old version of py-amqp"
**Actual result:**

When clicking to py-amqp documentation, user is redirected to latest readthedocs documentation. But it is showing documentation for old py-amqp v. 2.4.2:
![image](https://user-images.githubusercontent.com/827060/99001438-293b9180-253b-11eb-9566-9a0c27b24092.png)

**Desirate result:**
https://amqp.readthedocs.io should show the latest stable version of py-amqp - currently 5.0.2.

[2021-01-10 13:28] thedrow commented on #345
We should definitely fix soon this and release.

[2021-01-26 13:02] tomwojcik opened #349 "5.0.3 Regression with SSL handshake"
If I'm not mistaken, kombu is using py-ampq if librabbitmq is not available.
So celery is using kombu which is using py-amqp by default.
No matter what celery version is being used, if py-amqp has no version specified in requirements.txt, the latest one is used.

When I connect to rabbitmq using pika, everything seems to be working fine.

[code]

But after installing Celery 5.0.1 or latest commit

[2021-01-26 13:34] auvipy commented on #349
@matusvalo would you mind checking this when you have time?

[2021-01-26 14:21] auvipy commented on #349
@matusvalo would you mind checking this when you have time?

[2021-01-26 14:21] tomwojcik commented on #349
I host rabbitmq on heroku with a free cloudamqp plugin.
There's one person on SO who runs into the same problem with Amazon MQ.

[2021-01-26 14:29] auvipy commented on #349
this is the PR you should be checking https://github.com/celery/py-amqp/pull/347

[2021-01-26 16:06] matusvalo commented on #349
I will check it...

[2021-01-26 17:33] djmitche commented on #349
_Originally posted by @moisesguimaraes in https://github.com/celery/py-amqp/pull/347#discussion_r539376823_

I think that's the patch that needed to be made before release..

[2021-01-26 18:04] moisesguimaraes commented on #349
Oh, sorry about that. I have the changes stashed here. I'm running the tests locally and will put a PR shortly.

[2021-01-27 04:23] auvipy commented on #349
you could check this fix https://github.com/celery/py-amqp/pull/350

[2021-01-27 08:55] #349 closed

[2021-01-27 09:22] tomwojcik commented on #349
I confirm it works :)

[2021-01-27 11:43] auvipy commented on #349
thanks!

[2021-01-28 08:57] vadym-serdiuk opened #351 "Version 5.0.4 has an error"
Hi!
The version 5.0.4 made our build failed.

[code]

Python 3.8
Django 3.1.5
Celery 5.0.5
Docker image: python:3.8

[2021-01-28 09:38] kentuck13 commented on #351
Same error.

[2021-01-28 09:40] mintyPT commented on #351
Same

[2021-01-28 09:51] voegtlel commented on #351
I wonder, aren't there any CI tests which would detect such kind of error? (I mean it already happens during importing the module)

[2021-01-28 09:51] auvipy commented on #351
strange! sorry guys might messed with some commit in the release time

[2021-01-28 09:53] auvipy commented on #351
fixing and releasing withing an hour

[2021-01-28 10:16] auvipy commented on #351
Hi guys please check this https://pypi.org/project/amqp/5.0.5/

[2021-01-28 14:39] auvipy commented on #351
really sorry guys for this. I m a terrible maintainer :(

[2021-01-28 14:45] lithammer commented on #351
Shit happens 🤷‍♂️ Everyone can make mistakes. At least you were quick to resolve the issue which makes you a good maintainer in my book.

[2021-01-28 14:48] raphaelm commented on #351
You're not! Without you, we'd need to all this ourselves. Thank you for your work.

:heart:

[2021-01-28 15:56] jorrit-wehelp commented on #351
yeah, definitely not terrible :)
And https://github.com/celery/py-amqp/pull/352 should get the CI working again, might help prevent this in the future.

[2021-01-31 11:30] flying-sheep commented on #351
You could yank the release, then nothing will accidentally install it.

[2021-02-01 12:04] thedrow commented on #351
@auvipy Please yank the release ASAP. @flying-sheep is right :)

[2021-02-01 13:53] auvipy commented on #351
ok

[2021-02-01 14:48] thedrow commented on #351
Just go to PyPi, check the list of versions and there will be a button next to the release to yank it.

[2021-02-02 14:42] ciaranmcgirl opened #354 "TCP_USER_TIMEOUT doesn't exist on solaris 11.4"
in amqp/transport.py as part of the default TCP options we have 'TCP_USER_TIMEOUT': 1000
this doesn't exist in solaris 11.4, which breaks celery connecting to rabbitmq

pip show celery
Name: celery
Version: 4.4.7

 pip show rabbitmq
Name: rabbitmq
Version: 0.2.0

[code]
adding the following to platform.py under the sunos elif resolves the issue
`KNOWN_TCP_OPTS.remove('TCP_USER_TIMEOUT')`
[code]

[2021-02-03 11:21] auvipy commented on #351
thanks, checked, but I only see that button on the packages to which I have admin access.

[2021-02-03 19:06] thedrow commented on #351
Yanked.

[2021-02-03 19:06] #351 closed

[2021-02-05 08:25] matusvalo commented on #354
Thank you @ciaranmcgirl for your report. Would you mind creating a PR fixing this issue?

[2021-02-06 17:31] matusvalo commented on #354
Closing since Fixed by #355.

[2021-02-06 17:31] #354 closed

[2021-02-15 18:02] tvallois commented on #101
Hello,

I don't know if we should continue to write in this issue but our team is almost in the same position as the one described above.
[code]

I use this code to reproduce the error in aws environment (with aws classic load balancer). In this case i'm unable to ack the message in the `callback` method because the socket connection with rabbitmq has been dropped by ELB.

I tried to use another p

[2021-02-16 16:51] auvipy commented on #101
as celery use billiard you should not use multiprocessing i think. also what is your full setup and you are using newest versions?

[2021-02-16 16:58] tvallois commented on #101
I'm not using celery. Only Kombu.
Kombu version 5.0.2, amqp 5.0.2
With a solution like this, it works (AWS ELB do not consider the connection as idle) but it would be nice to have this integrated directly in kombu or amqp:
[code]

[2021-02-17 09:34] tvallois commented on #101
Nope, it does not work. I have the same stacktrace as this issue in Celery (https://github.com/celery/celery/issues/3773).

[2021-02-17 11:12] auvipy commented on #101
recent related discussion https://github.com/celery/celery/pull/6528#issuecomment-744096067

[2021-02-18 21:02] coltonbh opened #356 "[BUG] Cannot set cert_reqs=ssl.CERT_NONE due to order of context modification in _wrap_socker_sni"
Setting the [broker_use_ssl](https://docs.celeryproject.org/en/stable/userguide/configuration.html#broker-use-ssl) value in celery configuration to `{"cert_reqs": ssl.CERT_NONE}` is not respected. This occurs because of the following snippet of code inside of `amqp.transport.SSLTransport._wrap_socket_sni`:

[code]

Here we need to set `context.verify_mode` to the passed value of `cert_reqs` (in th

[2021-02-18 21:13] coltonbh commented on #356
Also, will add this broke when upgrading from `5.0.2` -> `5.0.5`. One can see the code changes on the `5.0.3` release that creates the `ValueError`.

[2021-02-22 12:23] #356 closed

[2021-05-19 09:08] blueyed opened #361 "Potentially broken _AbstractTransport.__repr__"
`_AbstractTransport.__repr__` (or `Connection.__repr__`) might crash.

In a report/issue from/in Sentry `self` was reported as "broken repr" in https://github.com/celery/py-amqp/blob/7300741f9fc202083e87abd10e1cb38c28efad92/amqp/transport.py#L352.

`_AbstractTransport.__repr__`: https://github.com/celery/py-amqp/blob/7300741f9fc202083e87abd10e1cb38c28efad92/amqp/transport.py#L100-L106
`Connection.

[2021-05-20 11:32] matusvalo commented on #361
Thank you @blueyed  for your bug report. Unfortunately, I cannot understand what break in `__repr__` from your report. I don't see anything regarding __repr__ in your traceback. Could you be more specific?

[2021-08-16 13:19] kloczek opened #362 "5.0.6: sphinx warnings"
Looks like new sphinx shows some warning on building documentation
[code]

[2021-08-24 09:59] kloczek opened #363 "5.0.6: test suite is using `case` which uses `nose` (which is outdated)"
`nose` is for python 2.x and is no longer maintained https://nose.readthedocs.io/en/latest/
[code]

[2021-08-24 10:05] kloczek commented on #363
I see that tox is used in CI however tox is failing as well.
[code]

[2021-08-30 11:21] auvipy commented on #363
thanks for reporting

[2021-09-02 16:47] mlodic commented on #218
Hi everyone, I found this issue after looking for a solution for this problem.

Env:
Celery 5.1.2
Rabbitmq: 3.9.4

From rabbit 3.8.15, they introduced this new feature: https://www.rabbitmq.com/consumers.html#acknowledgement-timeout

When the timeout is triggered, the `'NoneType' object has no attribute 'drain_events'` error appears again, causing the celery worker to stop working

[code]

Do you

[2021-09-15 15:05] #363 closed

[2021-10-18 08:31] m-aciek commented on #218
For me no permissions to exchange (or virtual host) ends up with the behavior above.

[2021-11-21 16:58] auvipy commented on #362
is it on current master?

[2021-11-22 11:34] kloczek commented on #362
I have no idea. My ticket is about 5.0.6.

[2021-12-05 12:11] pyup-bot opened #372 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2021-12-15 06:46] pavelion opened #378 "5.0.7 SSL connection problem"
After upgrade to the 5.0.7 celery workers are unable to connect to RabbitMQ (3.9.11) using SSL. Worker dies immediately after start and following exceptions are logged. Reverting to 5.0.6 solves the connection problem.

<pre>2021-12-15 07:31:14 [11] CRITICAL Unrecoverable error: OperationalError('[Errno 32] Broken pipe') (/usr/local/lib/python3.9/site-packages/celery/worker/worker.py:start)
Traceb

[2021-12-15 09:32] auvipy commented on #378
@pawl can you verify this?

[2021-12-15 15:34] pb-dod commented on #378
I just tried reproducing this issue by enabling SSL for rabbitmq on this branch and bumping py-amqp to 5.0.7: https://github.com/pb-dod/celery_pyamqp_memory_leak/tree/fix_ssl_2

I didn't see the immediate shutdown due to the `BrokenPipeError`.

It looks like we should put try/except OSError around this line though: https://github.com/celery/py-amqp/blob/d4c879f03e84e00bad9bd54cb8bf3c8b18bcd0f6/amq

[2021-12-15 15:44] auvipy commented on #378
ow is it your another github ID? would appreciate another PR for that. along with that I want to release another version

[2021-12-15 16:46] pb-dod commented on #378
I was able to reproduce the issue by restarting rabbitmq (with `docker-compose restart rabbitmq`) while running celery with SSL in [my example](https://github.com/pb-dod/celery_pyamqp_memory_leak/tree/fix_ssl_2).

Should have a PR up with a fix shortly. Oops, yeah this is @pawl's other github id.

[2021-12-16 03:53] #378 closed

[2021-12-19 07:59] wowi42 opened #382 "Celery broken after release 5.0.8"
Hi all,

We found a bug inside py-amqp on celery: when we updated to amqp==5.0.8, we are facing the following issue:

[code]

We reverted to 5.0.7 and it's working perfectly.

We are going to investigate the issue later today/tomorrow!

[2021-12-19 08:31] auvipy commented on #382
yes kombu integration tests are also failing https://github.com/celery/kombu/pull/1462

[2021-12-19 08:40] auvipy commented on #382
@pawl @michael-lazar if you can check please when you are available.

[2021-12-19 17:10] 99ACA commented on #382
Having the same issue

[2021-12-19 18:29] Tobeyforce commented on #382
same here, using django 3.2.9, same thing with 3.2.10. Tried both using celery 5.0.5 and 5.2.1. Tried multiple rabbitmq versions. What really ticks me off is that I've been gooling all day long, and still this github issue didn't get indexed by google :(
Took a while to figure out amqp was the problem.
[code]

[2021-12-20 02:19] amthorn commented on #382
I'm seeing the same thing here. I confirmed the issue with two identical containers where the only difference is one uses amqp==5.0.7 and the other uses amqp==5.0.8

5.0.7 works but 5.0.8 does not. Downgrading fixes it.

[2021-12-20 02:21] pawl commented on #382
I have a fix for this issue in this open PR: https://github.com/celery/py-amqp/pull/383

[2021-12-20 04:35] #382 closed

[2021-12-20 14:11] kloczek commented on #362
Just tested 5.0.8.
[code]

[2022-02-12 20:58] Kristin0 commented on #325
@yuvadm did you find something ?

[2022-02-13 05:07] yuvadm commented on #325
@Kristin0 Didn't really continue working on this issue, sorry

[2022-02-17 12:03] thedrow commented on #325
@Kristin0 If you have this problem. Please share all the details as well.

[2022-03-18 17:04] m6312 commented on #285
I encountered this issue with `amqp==5.0.9`, `celery==5.2.3`, `kombu==5.2.4`.

It can be recreated with the following `run.py` script with the `celeryconfig.py` file. The script (successfully) publishes a message, then (unsuccessfully) tries to purge a non-existent queue, then publishes a second message. The publishing of the second message hangs forever.

[code]

[code]

It seems like the problem

[2022-04-11 14:17] povilasb commented on #218
@matusvalo I'm able to reproduce the `NotFound: Basic.consume: (404) NOT_FOUND - no queue ` issue with https://github.com/povilasb/celery-issues/ . Hope that helps :)

[2022-04-12 16:31] povilasb commented on #218
I've also created a py-amqp only example to reproduce the issue: https://github.com/povilasb/celery-issues/#py-amqp-example

What happens, I believe, is that RabbitMQ responds with ["Channel Close" message](https://github.com/celery/py-amqp/blob/98f6d364188215c2973693a79e461c7e9b54daef/amqp/spec.py#L41)` when we're trying to publish to non-existing queue.
Then [`Channel._on_close()` is called](htt

[2022-04-17 10:02] kloczek commented on #362
Just tested 5.1.1 and now there are more warnings
[code]

[2022-04-17 10:14] kloczek opened #390 "5.1.1: pytest warnings"
I'm trying to package your module as an rpm package. So I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes only locally installed modules
- install .whl file in </install/prefix>
- run pytest with PYTHONPATH point

[2022-04-17 10:20] auvipy commented on #390
please send a improvement request

[2022-04-17 10:22] auvipy commented on #390
opened draft pr https://github.com/celery/py-amqp/pull/391 to investigate & improve the test suits

[2022-04-17 10:23] auvipy commented on #362
thanks you, can you help to remove the warnings?

[2022-04-17 10:54] kloczek commented on #362
To be honest I have no enough exp on that area😞

[2022-04-18 16:02] filiprosco opened #392 "'Server unexpectedly closed connection'"
Hello
Here is my setup:
- I am running Apache Active MQ docker container locally
- Trying to connect to it using this library, instantiating connection in a few different ways:
     -   with amqp.Connection(host='localhost:5672', userid='admin', password='admin', login_method='AMQPLAIN') as c:
     -   with amqp.Connection(host='localhost:5672') as c:

But regardless I am getting
          **\tran

[2022-04-18 16:11] auvipy commented on #392
share more detail please

[2022-04-18 16:12] auvipy commented on #392
this package is for rabbitmq mainly

[2022-04-18 16:18] filiprosco commented on #392
What other details you are interested in ?

[2022-04-18 16:19] filiprosco commented on #392
So this library cant be used to communicate with Apache MQ ?

[2022-04-18 16:24] filiprosco commented on #392
Rabbit MQ is using AMQP 0.9.1 vs Active MQ AMQP 1.0, so therefore this library is no good, please someone confirm

[2022-04-18 16:31] auvipy commented on #392
not this can't, you should have read the docs properly

[2022-04-18 16:31] #392 closed

[2022-04-26 05:56] skilleton819 commented on #322
Did the same

[2022-04-28 10:35] Hoohaha opened #393 "Waht is stable version?"
Hi,

Today I found a serious issue in our production environment. There are large rabbitmq connections, which caused the server CPU usage is very high. Finnaly I found that the py-amqp not closing connections when celery worker exited.

Checked with py-amqp releases on github. found it is fixed by https://github.com/celery/py-amqp/pull/374

So what version should I use for stable consideration?

[2022-04-28 17:44] auvipy commented on #393
you can easily check the commit history and release notes to understand that, use the latest pypi release. you have questions ask them in forum first.

[2022-05-23 02:00] 984958198 opened #395 "amqp.exceptions.NotFound: Queue.declare: (404) NOT_FOUND"
[code]

[2022-05-24 15:04] #395 closed

[2022-06-23 03:05] Hoohaha opened #396 "pyamqp won't send heartbeat?"
pyamqp==5.1.1

I used below sample code for testing.
If set heartbeat, the connection will be killed by rabbitmq server.

If disable heartbeat by set zero value, the code works very well.

Seems pyamqp won't send heartbeat automatically.

But if no heartbeat the rabbitmq won't close died connections, it cause server performance if too many dided connections.

[code]